= simple_form_for @category do |f|
  = f.input :name
  = f.input :label
  = f.input :position
  = f.input :kind, collection: EveryMatrix::Category.kinds
  = f.input :platform_type, collection: EveryMatrix::Category.platform_types
  = f.submit 'Save'
