%table.table.em_transactions
  %thead
    %tr
      %th= sort_link filter.search, :id, t('attributes.transaction_id'), default_order: :asc
      %th= t('attributes.transaction_type')
      - unless excluded_columns.include?(:customer)
        %th= t('attributes.customer')
      %th= sort_link filter.search, :amount, t('attributes.amount')
      %th= t('attributes.transaction_amount_before')
      %th= t('attributes.transaction_amount_after')
      %th= t('attributes.currency')
      %th= sort_link filter.search, :created_at, t('attributes.created_at')
      %th= t('attributes.status')
      %th= t('attributes.game_name')
      %th= t('attributes.vendor')
      %th= t('attributes.content_provider')
  %tbody
    - if filter.transactions.any?
      - filter.transactions.each do |transaction|
        %tr{ id: "transaction-#{transaction.id}" }
          %td= link_to transaction.id, transaction
          %td= settle_type(transaction.type(human: true))
          - unless excluded_columns.include?(:customer)
            %td= link_to transaction.customer_username, transaction.customer
          %td
            = transaction.amount(human: true)
            = transaction.currency_code
            \/
            = transaction.base_currency_amount(human: true)
            = Currency::PRIMARY_CODE
          %td
            = transaction.amount_before(human: true)
            = transaction.currency_code
            \/
            = transaction.base_currency_amount_before(human: true)
            = Currency::PRIMARY_CODE
          %td
            = transaction.amount_after(human: true)
            = transaction.currency_code
            \/
            = transaction.base_currency_amount_after(human: true)
            = Currency::PRIMARY_CODE
          %td= transaction.currency_code
          %td= transaction.created_at(human: true)
          %td= transaction.round_status
          %td= transaction.casino_play_item_name
          %td= transaction.vendor_name
          %td= transaction.content_provider_name
    - else
      %tr
        %td{ colspan: excluded_columns.include?(:customer) ? 12 : 13 }
          .text-center
            = t(:not_found, instance: t('entities.transactions'))
