= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .row
    .col.mt-2= f.error_notification
  .row
    .col-6.offset-3
      %h2= t(:sign_up)
  .row
    .col-6.offset-3
      = f.input :username, required: true, autofocus: true
      = f.input :email, required: true
      = f.input :first_name, required: true
      = f.input :last_name, required: true
      = f.input :date_of_birth, as: :date_picker, required: true
      = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
      = f.input :password_confirmation, required: true
      = f.button :submit, t(:sign_up), class: 'btn btn-dark btn-block'
      %hr
      = render 'customers/shared/links'
