.row.mt-4
  .col-6.offset-3
    = card header: t(:request_information), class: 'request-info' do
      %table.table
        %tr
          %td= t(:id)
          %td= @request.id
        %tr
          %td= t(:status)
          %td= @request.status
        %tr
          %td= t(:created_date)
          %td= l(@request.created_at, format: :long)
        %tr
          %td= t(:customer)
          %td
            %span= @request.customer.full_name
            %span= "(#{@request.customer.username})"
        %tr
          %td= t(:kind)
          %td= t("kinds.#{@request.kind}")
        %tr
          %td= t(:amount)
          %td
            =number_with_precision @request.amount, precision: 2
            =@request.currency.code
        %tr
          %td= t('attributes.initiator')
          %td= @request.initiator
        %tr
          %td= t('attributes.comment')
          %td= @request.comment
        %tr
          %td= t(:result)
          %td= @request.result_message

      %hr
      = link_back
