- content_for :css do
  = stylesheet_pack_tag 'flatpickr', media: :all, 'data-turbolinks-track': 'reload'

- content_for :js do
  = javascript_pack_tag 'flatpickr', 'data-turbolinks-track': 'reload'

= search_form_for filter.search, url: search_path, as: :entries do |f|
  %table.table.search
    %thead
      %tr
        %th
          .filter_title
            #{t('attributes.wallet')}:
          .filter_field
            = f.select :wallet_id_eq,
                       customer_wallets_options(customer),
                       { include_blank: 'All' },
                       class: 'form-control'

        %th
          .filter_title
            #{t('attributes.entry_kind')}:
          .filter_field
            = f.select :kind_eq,
                       entry_kinds_options,
                       { include_blank: 'All' },
                       class: 'form-control'
      %tr
        %th
          .filter_title
            #{t(:search, subject: t('from'))}:
          .filter_field
            .input-group
              = f.search_field :created_at_gteq,
                                class: 'form-control form_date',
                                placeholder: t(:search, subject: t('from')),
                                value: params.dig(:entries, :created_at_gteq)
              .input-group-append
                .input-group-text.btn &#128197;

        %th
          .filter_title
            #{t(:search, subject: t('to'))}:
          .filter_field
            .input-group
              = f.search_field :created_at_lteq,
                                class: 'form-control form_date',
                                placeholder: t(:search, subject: t('to')),
                                value: params.dig(:entries, :created_at_lteq)
              .input-group-append
                .input-group-text.btn &#128197;

        %th
          = f.submit class: 'btn btn-outline-dark btn-block'
