%table.table.entities
  %thead
    %tr
      %th= t('internal.attributes.id')
      %th= t('internal.attributes.entry_kind')
      %th
        = sort_link(filter.search,
                    :created_at,
                    t('internal.attributes.created_at'),
                    default_order: :asc)
      %th= t('internal.attributes.real_money_amount')
      %th= t('internal.attributes.bonus_amount')
      %th= t('internal.attributes.confiscated_bonus_amount')
      %th= t('internal.attributes.amount')
      %th= t('internal.attributes.currency')
      %th{ colspan: 2 }= t('internal.attributes.real_money_balance')
      %th{ colspan: 2 }= t('internal.attributes.bonus_balance')
      %th{ colspan: 2 }= t('internal.attributes.converted_amount')
      %th{ colspan: 2 }= t('internal.attributes.confiscated_amount')
      %th{ colspan: 2 }= t('internal.attributes.balance')
  %tbody
    - if filter.entries.any?
      - filter.entries.each do |entry|
        %tr{ id: "entry-#{entry.id}" }
          %td.id
            = link_to("##{entry.id}", entry)
          %td
            = link_to_entry_origin_type(entry)
          %td
            = l(entry.created_at, format: :long)
          %td.font-weight-bold{ class: entry_amount_class(entry) }
            = displayed_amount(entry.real_money_amount)
          %td.font-weight-bold{ class: entry_amount_class(entry) }
            = displayed_amount(entry.bonus_amount)
          %td.font-weight-bold{ class: entry_amount_class(entry) }
            = displayed_amount(entry.confiscated_bonus_amount)
          %td.font-weight-bold{ class: entry_amount_class(entry) }
            = displayed_amount(entry.amount)
          %td
            = entry.wallet.currency_code
          %td{ colspan: 2 }
            = entry.balance_amount_after - entry.bonus_amount_after
          %td{ colspan: 2 }
            = entry.bonus_amount_after
          %td{ colspan: 2 }
            = entry.converted_bonus_amount
          %td{ colspan: 2 }
            = entry.confiscated_bonus_amount
          %td.font-weight-bold{ colspan: 2, class: entry_amount_class(entry) }
            = entry.balance_amount_after
    - else
      %tr
        %td{ colspan: 9 }= t('internal.not_found', instance: t('internal.entities.entries'))
