%table.table
  %thead
    %tr
      %th= t('attributes.id')
      %th= t('attributes.customer')
      %th= sort_link filter.search, :created_at, t('attributes.created_at')
      %th= sort_link filter.search, :entry_request_amount, t('attributes.amount')
      %th= t('attributes.currency')
      %th= t('attributes.payment_method')
      %th= t('entities.entry_request')
      %th= t('attributes.status')
      %th
  %tbody
    - if filter.withdrawals.any?
      - filter.withdrawals.each do |withdrawal|
        - entry_request = withdrawal.entry_request
        %tr{ id: "withdrawal-#{withdrawal.id}" }
          %td= withdrawal.id
          %td= link_to entry_request.customer.username, customer_path(entry_request.customer)
          %td= l(withdrawal.created_at, format: :long)
          %td= entry_request.amount
          %td= entry_request.currency.name
          %td
            %label.col-form-label
              %b= entry_request.mode

          %td= link_to 'Entry request', entry_request_path(entry_request)

          %td
            %label.col-form-label
              %b= withdrawal.status

          - if withdrawal.pending?
            %td= link_to t('confirm'),
              confirm_withdrawal_path(withdrawal),
              method: :post,
              class: 'btn btn-success'
            %td
              - rejection_path = reject_withdrawal_path(withdrawal)
              = form_for :rejection, url: rejection_path, method: :post do |f|
                .form-row
                  .col
                    = f.text_field :comment,
                      placeholder: t('attributes.comment'),
                      class: 'form-control',
                      required: true
                  .col
                    = f.submit t('reject'),
                      data: { confirm: t('confirm_sure') },
                      class: 'btn btn-danger'
          - else
            %td{ colspan: 2 }
              = actioned_by(withdrawal.actioned_by)
    - else
      %tr
        %td{ colspan: 7 }= t(:not_found, instance: t('entities.withdrawals'))
