%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to 'ArcaneBet Backoffice', backoffice_root_path, class: 'navbar-brand'
  %button.navbar-toggler{ 'aria-controls': 'navbar-content',
                          'aria-expanded': 'false',
                          'aria-label': 'Toggle navigation',
                          'data-target': '#navbar-content',
                          'data-toggle': 'collapse',
                          type: 'button' }
    %span.navbar-toggler-icon
  #navbar-content.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to t(:customers),
                  backoffice_customers_path,
                  class: 'nav-link',
                  'data-target-controller': 'customers'
      %li.nav-item
        = link_to t(:labels),
                  backoffice_labels_path,
                  class: 'nav-link',
                  'data-target-controller': 'labels'
      %li.nav-item
        = link_to t(:entry_requests),
                  backoffice_entry_requests_path,
                  class: 'nav-link',
                  'data-target-controller': 'entry_requests'
      %li.nav-item
        = link_to t(:currencies),
                  backoffice_currencies_path,
                  class: 'nav-link',
                  'data-target-controller': 'currencies'
      %li.nav-item
        = link_to t(:sidekiq),
                  sidekiq_web_path,
                  class: 'nav-link',
                  target: :blank
    = render 'shared/backoffice/authentication_links'
