%h1.display-4
  = t(:currencies)
  = link_to t(:add_instance, instance: t('entities.currency')), new_currency_path, { class: 'btn btn-primary float-right btn-sm' }

= search_form_for @search do |f|
  %table.table
    %thead
      %tr
        %th
          = f.label :code_cont, class: 'sr-only'
          = f.search_field :code_cont,
                           class: 'form-control',
                           placeholder: t(:search, subject: t('attributes.description')),
                           autocomplete: :off
        %th
          = f.label :name_cont, class: 'sr-only'
          = f.search_field :name_cont,
                           class: 'form-control',
                           placeholder: t(:search, subject: t('attributes.name')),
                           autocomplete: :off
        %th
          = f.submit class: 'btn btn-outline-dark btn-block'
    %tbody
      - @currencies.each do |currency|
        %tr{ id: "currency-#{currency.id}" }
          %td= link_to currency.code, edit_currency_path(currency)
          %td= link_to currency.name, edit_currency_path(currency)
          %td

= paginate @currencies
