%h1.display-4
  = t('entities.labels')
  = link_to t(:add_instance, instance: t('entities.label')), new_label_path, { class: 'btn btn-primary float-right btn-sm' }

= search_form_for @search do |f|
  %table.table
    %thead
      %tr
        %th
          .filter_title
            = "#{t('attributes.label_name')}:"
            = f.label :name_cont, class: 'sr-only'
          .filter_field
            = f.search_field :name_cont,
                              class: 'form-control',
                              placeholder: t(:search, subject: t('attributes.name')),
                              autocomplete: :off
        %th
          .filter_title
            = "#{t('attributes.label_kind')}:"
            = f.label :kind_eq, class: 'sr-only'
          .filter_field
            = f.select :kind_eq,
                        options_for_select(Label.kinds, query_params ? query_params[:kind_eq] : nil),
                        { include_blank: true },
                        class: 'form-control'

        %th
          .filter_title
            = "#{t('attributes.label_description')}:"
            = f.label :description_cont, class: 'sr-only'
          .filter_field
            = f.search_field :description_cont,
                              class: 'form-control',
                              placeholder: t(:search, subject: t('attributes.description')),
                              autocomplete: :off
        %th
          = f.submit class: 'btn btn-outline-dark btn-block'
    %tbody
      - @labels.each do |label|
        %tr{ id: "label-#{label.id}" }
          %td= link_to label.name, edit_label_path(label)
          %td= label.kind
          %td= label.description
          %td= link_to t(:delete),
                        label,
                        method: :delete,
                        data: { confirm: t(:confirm_sure) }
= paginate @labels
