- content_for :css do
  = stylesheet_pack_tag 'flatpickr', media: :all, 'data-turbolinks-track': 'reload'

- content_for :js do
  = javascript_pack_tag 'flatpickr', 'data-turbolinks-track': 'reload'

= search_form_for @search do |f|
  %table.table
    %thead
      %tr
        %th
          .filter_title
            = "#{t('attributes.bet_id')}:"
          .filter_field
            = f.label :id_eq, class: 'sr-only'
            = f.search_field :id_eq,
                              class: 'form-control',
                              placeholder: t('attributes.bet_id'),
                              autocomplete: :off
        %th
          .filter_title
            = "#{t('attributes.customer')}:"
          .filter_field
            = f.label :customer_username_cont, class: 'sr-only'
            = f.search_field :customer_username_cont,
                              class: 'form-control',
                              placeholder: t(:search, subject: t('attributes.customer')),
                              autocomplete: :off
        %th
          .filter_title
            = "#{t(:search, subject: t('from'))}:"
          .filter_field
            = f.label :created_at_gteq, class: 'sr-only'
            = f.search_field :created_at_gteq,
                              class: 'form-control form_date',
                              placeholder: t(:search, subject: t('from')),
                              value: query_params[:created_at_gteq] || l(Date.today, format: :date_picker)
        %th
          .filter_title
            = "#{t(:search, subject: t('to'))}:"
          .filter_field
            = f.label :created_at_lteq, class: 'sr-only'
            = f.search_field :created_at_lteq,
                              class: 'form-control form_date',
                              placeholder: t(:search, subject: t('to')),
                              value: query_params[:created_at_lteq] || l(Date.today, format: :date_picker)
      %tr
        %th
          .filter_title
            = "#{t('attributes.sport')}:"
          .filter_field
            = f.label :title_name_eq, class: 'sr-only'
            = f.select :title_name_eq,
                        options_for_select(@sports, query_params ? query_params[:title_name_eq] : nil),
                        { include_blank: true },
                        class: 'form-control'

        %th
          .filter_title
            = "#{t('attributes.tournament')}:"
          .filter_field
            = f.label :tournaments_name_eq, class: 'sr-only'
            = f.select :tournaments_name_eq,
                        options_for_select(@tournaments, query_params ? query_params[:tournaments_name_eq] : nil),
                        { include_blank: true },
                        class: 'form-control'
        %th
          .filter_title
            = "#{t('attributes.country')}:"
          .filter_field
            = f.label :countries_name_in, class: 'sr-only'
            = f.select :countries_name_in,
                        options_for_select(@countries, query_params ? query_params[:countries_name_in] : nil),
                        { include_blank: true},
                        multiple: true, size: 3,
                        class: 'form-control'

        %th
          = f.submit class: 'btn btn-outline-dark btn-block'
