- content_for :css do
  = stylesheet_pack_tag 'flatpickr', media: :all,
                        'data-turbolinks-track': 'reload'

- content_for :js do
  = javascript_pack_tag 'flatpickr', 'data-turbolinks-track': 'reload'

= search_form_for filter.search, url: search_path, as: :bets do |f|
  %table.table
    %thead
      %tr
        %th
          .filter_title
            #{t('attributes.bet_id')}:
          .filter_field
            = f.label :id_eq, class: 'sr-only'
            = f.search_field :id_eq,
                              class: 'form-control',
                              placeholder: t('attributes.bet_id'),
                              autocomplete: :off
        - unless local_assigns[:excluded_columns]&.include?(:customer)
          %th
            .filter_title
              #{t('attributes.customer')}:
            .filter_field
              = f.label :customer_username_cont, class: 'sr-only'
              = f.search_field :customer_username_cont,
                              class: 'form-control',
                              placeholder: t(:search, subject: t('attributes.customer')),
                              autocomplete: :off
        %th
          .filter_title
            #{t('attributes.sport')}:
          .filter_field
            = f.label :title_id_eq, class: 'sr-only'
            = f.select :title_id_eq,
                        options_for_select(filter.sports,
                                           filter.search_params(:title_id_eq)),
                        { include_blank: true },
                        class: 'form-control'
        %th
          .filter_title
            #{t(:search, subject: t('from'))}:
          .filter_field
            = f.label :created_at_gteq, class: 'sr-only'
            .input-group
              = f.search_field :created_at_gteq,
                                class: 'form-control form_date',
                                placeholder: t(:search, subject: t('from')),
                                value: filter.search_params(:created_at_gteq)
              .input-group-append
                .input-group-text.btn &#128197;
        %th
          .filter_title
            #{t(:search, subject: t('to'))}:
          .filter_field
            = f.label :created_at_lteq, class: 'sr-only'
            .input-group
              = f.search_field :created_at_lteq,
                                class: 'form-control form_date',
                                placeholder: t(:search, subject: t('to')),
                                value: filter.search_params(:created_at_lteq)
              .input-group-append
                .input-group-text.btn &#128197;

      %tr
        %th
          .filter_title
            #{t('attributes.tournament')}:
          .filter_field
            = f.label :tournaments_name_eq, class: 'sr-only'
            = f.select :tournaments_name_eq,
                        options_for_select(filter.tournaments,
                                           filter.search_params(:tournaments_name_eq)),
                        { include_blank: true },
                        class: 'form-control'
        %th{ colspan: local_assigns[:excluded_columns]&.include?(:customer) ? 1 : 2 }
          .filter_title
            #{t('attributes.status')}:
          .filter_field
            = f.label :status_eq, class: 'sr-only'
            = f.select :status_eq,
                        options_for_select(BetsFilter::STATUSES,
                                           filter.search_params(:status_eq)),
                        { include_blank: true },
                        class: 'form-control'
        %th
          .filter_title
            #{t('attributes.settlement_status')}:
          .filter_field
            = f.label :settlement_status_eq, class: 'sr-only'
            = f.select :settlement_status_eq,
                        options_for_select(BetsFilter::SETTLEMENT_STATUSES,
                                           filter.search_params(:settlement_status_eq)),
                        { include_blank: true },
                        class: 'form-control'

        %th
          = f.submit class: 'btn btn-outline-dark btn-block'
