%table.table.entities
  %thead
    %tr
      %th= sort_link filter.search, :id, t('attributes.bet_id'), default_order: :asc
      - unless excluded_columns.include?(:customer)
        %th= t('attributes.customer')
      %th= t('attributes.event')
      %th= t('attributes.market')
      %th= t('attributes.selection')
      %th= t('attributes.odd_value')
      %th= sort_link filter.search, :amount, t('attributes.stake')
      %th= sort_link filter.search, :winning_amount, t('attributes.winning_amount')
      %th= sort_link filter.search, :created_at, t('attributes.bet_placement_time')
      %th= t('attributes.status')
      %th= t('attributes.settlement')
      %th= t('attributes.sport')
      %th= t('attributes.tournament')
      %th= t('attributes.bet_type')
  %tbody
    - if filter.bets.any?
      - filter.bets.each do |bet|
        %tr{ id: "bet-#{bet.id}" }
          %td= link_to bet.id, bet
          - unless excluded_columns.include?(:customer)
            %td= link_to bet.customer_username, bet.customer
          %td= link_to bet.event_name, bet.event
          %td= bet.market_name
          %td= bet.odd_name
          %td= bet.odd_value
          %td
            = bet.amount(human: true)
            = bet.currency_code
            \/
            = bet.base_currency_amount(human: true)
            = Currency::PRIMARY_CODE
          %td
            = number_with_precision bet.winning_amount, precision: 2
            = bet.currency_code
          %td= bet.created_at(human: true)
          %td= status_badge(bet.status)
          %td= settle_badge(bet.settlement_status)
          %td= bet.sport
          %td= bet.tournament
          %td
            %span.badge.badge-primary= bet.bet_type
    - else
      %tr
        %td{ colspan: excluded_columns.include?(:customer) ? 13 : 14 }
          .text-center
            = t(:not_found, instance: t('entities.bets'))
