%h1.display-4
  = t(:bets)

%table.table
  %thead
    %tr
      %th= t('attributes.id')
      %th= t('attributes.customer')
      %th= t('attributes.event')
      %th= t('attributes.market')
      %th= t('attributes.selection')
      %th= t('attributes.odd_value')
      %th= t('attributes.stake')
      %th= t('attributes.bet_placement_time')
      %th= t('attributes.status')
      %th= t('attributes.settlement')
  %tbody
    - @bets.each do |bet|
      %tr{ id: "bet-#{bet.id}" }
        %td= link_to bet.id, bet
        %td= link_to bet.customer.username, bet.customer
        %td= link_to bet.odd.market.event.name, bet.odd.market.event
        %td= bet.odd.market.name
        %td= bet.odd.name
        %td= bet.odd_value
        %td
          =number_with_precision bet.amount, precision: 2
          =bet.currency.code
        %td= l(bet.created_at, format: :long)
        %td= status_badge(bet.status)
        %td= settle_badge(bet.odd.settle)

= paginate @bets
