.mt-4.mb-4
  = card header: t('entities.bet'), class: 'bet-info' do
    .row
      .col
        %table.table
          %tr
            %td= t('attributes.id')
            %td= bet.id
          %tr
            %td= t('attributes.customer')
            %td= link_to bet.customer_username, bet.customer
          %tr
            %td= t('entities.bonus')
            %td= link_to_if bet.customer_bonus, bet.customer_bonus_code, bet.customer_bonus
          %tr
            %td= t('attributes.event')
            %td= link_to bet.event_name, bet.event
          %tr
            %td= t('attributes.market')
            %td= bet.market_name
          %tr
            %td= t('attributes.selection')
            %td= bet.odd_name
          %tr
            %td= t('attributes.odd_value')
            %td= bet.odd_value
          %tr
            %td= t('attributes.counted_towards_rollover')
            %td= bet.counted_towards_rollover
          %tr
            %td= t('attributes.bet_type')
            %td
              %span.badge.badge-primary= bet.bet_type
      .col
        %table.table
          %tr
            %td= t('attributes.stake')
            %td
              = bet.amount(human: true)
              = bet.currency_code
              \/
              = bet.base_currency_amount(human: true)
              = Currency::PRIMARY_CODE
          %tr
            %td= t('attributes.bet_placement_time')
            %td= bet.created_at(human: true)
          %tr
            %td= t('attributes.bet_settlement_status_achieved_at')
            %td= bet.bet_settlement_status_achieved_at(human: true)
          %tr
            %td= t('attributes.status')
            %td= status_badge(bet.status)
          %tr
            %td= t('attributes.external_id')
            %td= bet.validation_ticket_id
          %tr
            %td= t('attributes.notification_message')
            %td= bet.notification_message
          %tr
            %td= t('attributes.notification_code')
            %td= bet.notification_code
          %tr
            %td= t('attributes.settlement')
            %td= settle_badge(bet.settlement_status)
          %tr
            %td= t('attributes.possible_payout')
            %td
              = bet.winning_amount(human: true)
              = bet.currency_code
          %tr
            %td= t('attributes.actual_payout')
            %td= render 'entries', entries: bet.entries
    %hr
    = simple_form_for [bet.customer, bet.object] do |f|
      .row
        .col
          = f.input :settlement_status,
                    collection: Bet::BET_SETTLEMENT_STATUSES,
                    include_blank: false
          = f.fields_for :entry_request do |e|
            = e.input :comment,
                      as: :text,
                      input_html: { class: 'form-control mt-0 mb-3 string required mr-1 rounded' }
        .col
      .row
        .col
          = f.submit I18n.t('proceed_manually'), class: 'btn btn-outline-danger', required: true
    .row
      .col
        %hr
        = link_back
