.mt-4.mb-4
  = card header: t('entities.bet'), class: 'bet-info' do
    .row
      .col
        .row
          %table.table
            %tr
              %td= t('attributes.id')
              %td= bet.id
            %tr
              %td= t('attributes.customer')
              %td= link_to bet.customer_username, bet.customer
            %tr
              %td= t('entities.bonus')
              %td= link_to_if bet.customer_bonus, bet.customer_bonus_code, bet.customer_bonus
            %tr
              %td= t('attributes.counted_towards_rollover')
              %td= bet.counted_towards_rollover
            %tr
              %td= t('attributes.bet_type')
              %td
                %span.badge.badge-primary= bet.bet_type
        .row
          %hr
        .row
          %table.table
            %thead
              %tr
                %th= t('attributes.event')
                %th= t('attributes.market')
                %th= t('attributes.selection')
                %th= t('attributes.odd_value')
                %th= t('attributes.settlement')
            %tbody
              - bet.bet_legs.each do |bet_leg|
                %tr
                  %td= link_to bet_leg.event.name, bet_leg.event
                  %td= bet_leg.market.name
                  %td= bet_leg.odd.name
                  %td= bet_leg.odd_value
                  %td= settle_badge(bet_leg.settlement_status)
      .col
        %table.table
          %tr
            %td= t('attributes.stake')
            %td
              = bet.amount(human: true)
              = bet.currency_code
              \/
              = bet.base_currency_amount(human: true)
              = Currency::PRIMARY_CODE
          %tr
            %td= t('attributes.bet_placement_time')
            %td= bet.created_at(human: true)
          %tr
            %td= t('attributes.bet_settlement_status_achieved_at')
            %td= bet.bet_settlement_status_achieved_at(human: true)
          %tr
            %td= t('attributes.status')
            %td= status_badge(bet.status)
          %tr
            %td= t('attributes.external_id')
            %td= bet.validation_ticket_id
          %tr
            %td= t('attributes.notification_message')
            %td= bet.notification_message
          %tr
            %td= t('attributes.notification_code')
            %td= bet.notification_code
          %tr
            %td= t('attributes.settlement')
            %td= settle_badge(bet.settlement_status)
          %tr
            %td= t('attributes.possible_payout')
            %td
              = bet.winning_amount(human: true)
              = bet.currency_code
          %tr
            %td= t('attributes.actual_payout')
            %td= render 'entries', entries: bet.entries
    %hr
    .row
      = render 'bet_settlement_form', bet: bet
      - if bet.combo_bets?
        = render 'bet_leg_settlement_form', bet: bet
      - else
        .col

    .row
      .col
        %hr
        = link_back
