%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to t('global.title'), root_path, class: 'navbar-brand'
  %button.navbar-toggler{ 'aria-controls': 'navbar-content',
                          'aria-expanded': 'false',
                          'aria-label': 'Toggle navigation',
                          'data-target': '#navbar-content',
                          'data-toggle': 'collapse',
                          type: 'button' }
    %span.navbar-toggler-icon
  #navbar-content.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to t('entities.events'),
                  events_path,
                  class: 'nav-link',
                  'data-target-controller': 'events'
      %li.nav-item
        = link_to t('entities.customers'),
                  customers_path,
                  class: 'nav-link',
                  'data-target-controller': 'customers'
      %li.nav-item
        = link_to t('entities.entry_requests'),
                  entry_requests_path,
                  class: 'nav-link',
                  'data-target-controller': 'entry_requests'
      %li.nav-item
        = link_to t('entities.bets'),
                  bets_path,
                  class: 'nav-link',
                  'data-target-controller': 'bets'
      %li.nav-item
        = link_to t('entities.activities'),
                  activities_path,
                  class: 'nav-link',
                  'data-target-controller': 'activities'
      %li.nav-item
        = link_to t('entities.bonuses'),
                  bonuses_path,
                  class: 'nav-link',
                  'data-target-controller': 'bonuses'
      %li.nav-item
        = link_to t('entities.currencies'),
                  currencies_path,
                  class: 'nav-link',
                  'data-target-controller': 'currencies'
      %li.nav-item
        = link_to t('entities.labels'),
                  labels_path,
                  class: 'nav-link',
                  'data-target-controller': 'labels'
      %li.nav-item
        = link_to t('entities.documents'),
                  verification_documents_path,
                  class: 'nav-link',
                  'data-target-controller': 'documents'
      %li.nav-item
        = link_to t('navigation.sidekiq'),
                  sidekiq_web_path,
                  class: 'nav-link',
                  target: :blank
    = render 'shared/authentication_links'
