%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to 'ArcaneBet Backend', root_path, class: 'navbar-brand'
  %button.navbar-toggler{ 'aria-controls': 'navbar-content',
                          'aria-expanded': 'false',
                          'aria-label': 'Toggle navigation',
                          'data-target': '#navbar-content',
                          'data-toggle': 'collapse',
                          type: 'button' }
    %span.navbar-toggler-icon
  #navbar-content.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to t('entities.events', count: 5),
                  events_path,
                  class: 'nav-link',
                  'data-target-controller': 'events'

      %li.nav-item
        = link_to t(:customers),
                  customers_path,
                  class: 'nav-link',
                  'data-target-controller': 'customers'
      %li.nav-item
        = link_to t(:entry_requests),
                  entry_requests_path,
                  class: 'nav-link',
                  'data-target-controller': 'entry_requests'
      %li.nav-item
        = link_to t(:activities),
                  activities_path,
                  class: 'nav-link',
                  'data-target-controller': 'activities'
      %li.nav-item
        = link_to t(:bonuses, count: 2),
                  bonuses_path,
                  class: 'nav-link',
                  'data-target-controller': 'bonuses'
      %li.nav-item
        = link_to t(:currencies),
                  currencies_path,
                  class: 'nav-link',
                  'data-target-controller': 'currencies'
      %li.nav-item
        = link_to t(:labels),
                  labels_path,
                  class: 'nav-link',
                  'data-target-controller': 'labels'
      %li.nav-item
        = link_to t('navigation.documents'),
                  documents_path,
                  class: 'nav-link',
                  'data-target-controller': 'documents'
      %li.nav-item
        = link_to t(:sidekiq),
                  sidekiq_web_path,
                  class: 'nav-link',
                  target: :blank
    = render 'shared/authentication_links'
