%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to 'ArcaneBet Backend', root_path, class: 'navbar-brand'
  %button.navbar-toggler{ 'aria-controls': 'navbar-content',
                          'aria-expanded': 'false',
                          'aria-label': 'Toggle navigation',
                          'data-target': '#navbar-content',
                          'data-toggle': 'collapse',
                          type: 'button' }
    %span.navbar-toggler-icon
  #navbar-content.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to t('entities.events'),
                  events_path,
                  class: 'nav-link',
                  'data-target-controller': 'events'

      %li.nav-item.dropdown
        = link_to t('entities.customers'), '#',
                  class: 'nav-link dropdown-toggle',
                  'data-toggle': 'dropdown',
                  aria: { haspopup: true, expanded: false }

        .dropdown-menu
          = link_to t('entities.customers'),
                    customers_path,
                    class: 'dropdown-item',
                    'data-target-controller': 'customers'

          = link_to t('entities.documents'),
                    verification_documents_path,
                    class: 'dropdown-item',
                    'data-target-controller': 'documents'

          = link_to t('entities.activities'),
                    activities_path,
                    class: 'dropdown-item',
                    'data-target-controller': 'activities'

          = link_to t('entities.entry_requests'),
                    entry_requests_path,
                    class: 'dropdown-item',
                    'data-target-controller': 'entry_requests'

          = link_to t('entities.bets'),
                    bets_path,
                    class: 'dropdown-item',
                    'data-target-controller': 'bets'

      %li.nav-item.dropdown
        = link_to t(:system), '#',
                  class: 'nav-link dropdown-toggle',
                  'data-toggle': 'dropdown',
                  aria: { haspopup: true, expanded: false }

        .dropdown-menu
          = link_to t('entities.currencies'),
                    currencies_path,
                    class: 'dropdown-item',
                    'data-target-controller': 'currencies'
          = link_to t('entities.bonuses'),
                    bonuses_path,
                    class: 'dropdown-item',
                    'data-target-controller': 'bonuses'
          = link_to t('entities.labels'),
                    labels_path,
                    class: 'dropdown-item',
                    'data-target-controller': 'labels'

          .dropdown-divider

          = link_to t(:sidekiq),
                    sidekiq_web_path,
                    class: 'dropdown-item',
                    target: :blank
    = render 'shared/authentication_links'
