%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to t('global.title'), root_path, class: 'navbar-brand'
  %button.navbar-toggler{ 'aria-controls': 'navbar-content',
                          'aria-expanded': 'false',
                          'aria-label': 'Toggle navigation',
                          'data-target': '#navbar-content',
                          'data-toggle': 'collapse',
                          type: 'button' }
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#navbar-content
    %ul.navbar-nav.mr-auto
      %li.nav-item.dropdown
        = link_to t(:odds_feed), '#',
                  class: 'nav-link dropdown-toggle',
                  'data-toggle': 'dropdown',
                  aria: { haspopup: true, expanded: false }

        .dropdown-menu
          = link_to t('entities.events'),
                    events_path,
                    class: 'nav-link'

          = link_to t('entities.market_templates'),
                    market_templates_path,
                    class: 'nav-link'

      %li.nav-item.dropdown
        = link_to t('entities.customers'), '#',
                  class: 'nav-link dropdown-toggle',
                  'data-toggle': 'dropdown',
                  aria: { haspopup: true, expanded: false }

        .dropdown-menu
          = link_to t('entities.customers'),
                    customers_path,
                    class: 'dropdown-item'

          = link_to t('entities.documents'),
                    verification_documents_path,
                    class: 'dropdown-item'

          = link_to t('entities.activities'),
                    activities_path,
                    class: 'dropdown-item'

          = link_to t('entities.entry_requests'),
                    entry_requests_path,
                    class: 'dropdown-item'

          = link_to t('entities.withdrawals'),
                    withdrawal_requests_path,
                    class: 'dropdown-item'

          = link_to t('entities.bets'),
                    bets_path,
                    class: 'dropdown-item'

          = link_to t('entities.transactions'),
                    transactions_path,
                    class: 'dropdown-item'

      %li.nav-item.dropdown
        = link_to t(:system), '#',
                  class: 'nav-link dropdown-toggle',
                  'data-toggle': 'dropdown',
                  aria: { haspopup: true, expanded: false }

        .dropdown-menu
          = link_to t('entities.currencies'),
                    currencies_path,
                    class: 'dropdown-item'
          = link_to t('entities.bonuses'),
                    bonuses_path,
                    class: 'dropdown-item'
          = link_to t('entities.labels'),
                    labels_path,
                    class: 'dropdown-item'

          .dropdown-divider

          = link_to t('sidekiq'),
                    sidekiq_web_path,
                    class: 'dropdown-item',
                    target: :blank
    = render 'shared/authentication_links'
