- content_for :css do
  = stylesheet_pack_tag 'flatpickr', media: :all, 'data-turbolinks-track': 'reload'

- content_for :js do
  = javascript_pack_tag 'flatpickr', 'data-turbolinks-track': 'reload'

= search_form_for search do |f|
  %table.table
    %thead
      %tr
        %th
          .filter_title #{t('attributes.id')}:
          .filter_field
            = f.label :id_eq, class: 'sr-only'
            = f.search_field :id_eq, class: 'form-control',
                                     placeholder: t('attributes.id'),
                                     autocomplete: :off
        %th
          .filter_title #{t('attributes.external_id')}:
          .filter_field
            = f.search_field :external_id_cont,
                              class: 'form-control',
                              placeholder: t(:search, subject: t('attributes.external_id'))
        %th
          .filter_title #{t('attributes.name')}:
          .filter_field
            = f.label :name_cont, class: 'sr-only'
            = f.search_field :name_cont, class: 'form-control',
                                         placeholder: t(:search, subject: 'Name'),
                                         autocomplete: :off
        %th
          .filter_title #{t('attributes.sport')}:
          .filter_field
            = f.label :title_id_eq, class: 'sr-only'
            = f.select :title_id_eq,
                 options_for_select(sports, query_params[:title_id_eq]),
                  { include_blank: true },
                  class: 'form-control'
        %th
          .filter_title #{t('attributes.visibility')}:
          .filter_field
            = f.label :visible_eq, class: 'sr-only'
            = f.select :visible_eq,
                 options_for_select({ 'Visible': true,
                                      'Invisible': false },
                                    query_params[:visible_eq]),
                  { include_blank: true },
                  class: 'form-control'
      %tr
        %th
          .filter_title #{t('attributes.live')}:
          .filter_field
          = f.select :traded_live_eq,
                 options_for_select({ 'Yes': true,
                                      'No': false },
                                    query_params[:traded_live_eq]),
                  { include_blank: true },
                  class: 'form-control'
        %th
          .filter_title #{t(:from)}:
          .filter_field
            = f.label :start_at_gteq, class: 'sr-only'
            .input-group
              = f.search_field :start_at_gteq,
                               class: 'form-control form_date',
                               placeholder: t(:search, subject: t('from')),
                               value: query_params[:start_at_gteq]
              .input-group-append
                .input-group-text.btn &#128197;

        %th
          .filter_title #{t(:to)}:
          .filter_field
            = f.label :start_at_lteq, class: 'sr-only'
            .input-group
              = f.search_field :start_at_lteq,
                               class: 'form-control form_date',
                               placeholder: t(:search, subject: t('to')),
                               value: query_params[:start_at_lteq]
              .input-group-append
                .input-group-text.btn &#128197;

        %th
          .filter_title #{t('attributes.scope_kind')}:
          .filter_field
            = f.select :event_scopes_kind_eq,
                 options_for_select(EventScope.kinds, query_params[:event_scopes_kind_eq]),
                  { include_blank: true },
                  class: 'form-control'
        %th
          .filter_title #{t('attributes.scope_name')}:
          .filter_field
            = f.search_field :event_scopes_name_cont,
                              class: 'form-control',
                              placeholder: t(:search, subject: t('attributes.scope_name'))
      %tr
        %th{ colspan: 4 }
        %th
          = f.submit class: 'btn btn-outline-dark btn-block'
