%h1.display-4= t('entities.events', count: @events.count)

= search_form_for @search do |f|
  %table.table
    %thead
      %tr
        %th= 'Name'
        %th= 'Sport'
        %th= 'Start at'
        %th= 'Markets'

        - EventScope.kinds.keys.map(&:capitalize).each do |scope_kind|
          %th= scope_kind

    %tbody
      %tr
        %th
          = f.label :name_cont, class: 'sr-only'
          = f.search_field :name_cont,
                           class: 'form-control',
                           placeholder: t(:search, subject: 'Name'),
                           autocomplete: :off
        %th
        %th
        %th
          = f.submit class: 'btn btn-outline-dark btn-block'
      - @events.each do |event|
        %tr{ id: "event-#{event.id}" }
          %td= link_to event.name, event
          %td= event.title.name
          %td= event.start_at ? l(event.start_at, format: :long) : '-'
          %td= event.markets.count

          - EventScope.kinds.keys.each do |kind|
            %td{ class: kind }
              - event.event_scopes.where(kind: kind).each do |event_scope|
                .event_scope= event_scope.name
                %br

= paginate @events
