- content_for :css do
  = stylesheet_pack_tag 'flatpickr', media: :all, 'data-turbolinks-track': 'reload'

- content_for :js do
  = javascript_pack_tag 'flatpickr', 'data-turbolinks-track': 'reload'

%h1.display-4= t('entities.events', count: @events.size)

= search_form_for @search do |f|
  %table.table
    %thead
      %tr
        %th= 'Name'
        %th= 'Sport'
        %th= 'Visible'
        %th= 'Start at'
        %th= 'Markets'

        - EventScope.kinds.keys.map(&:capitalize).each do |scope_kind|
          %th= scope_kind

    %tbody
      %tr
        %th
          = f.label :name_cont, class: 'sr-only'
          = f.search_field :name_cont,
                           class: 'form-control',
                           placeholder: t(:search, subject: 'Name'),
                           autocomplete: :off
        %th
          = f.label :title_name_eq, class: 'sr-only'
          = f.select :title_name_eq,
           options_for_select(@sports, params[:query]&.fetch(:title_name_eq)),
            { include_blank: true },
            class: 'form-control'
        %th
          = f.search_field :start_at_date_equals,
                           class: 'form-control',
                           placeholder: 'Date',
                           autocomplete: :off,
                           as: :date_picker,
                           class: 'form_date form-control'

        %th

        %th
          = f.select :event_scopes_kind_eq,
           options_for_select(EventScope.kinds, params[:query]&.fetch(:event_scopes_kind_eq)),
            { include_blank: true },
            class: 'form-control'
        %th
          = f.search_field :event_scopes_name_cont, class: 'form-control', placeholder: 'Scope name'
        %th
          = f.submit class: 'btn btn-outline-dark btn-block'

      - @events.each do |event|
        %tr{ id: "event-#{event.id}" }
          %td= link_to event.name, event
          %td= event.title.name
          %td.toggle-holder= visibility_toggle(event, update_visibility_event_path(event))

          %td= event.start_at ? l(event.start_at, format: :long) : '-'
          %td= event.markets.count

          - EventScope.kinds.keys.each do |kind|
            %td{ class: kind }
              - event.event_scopes.where(kind: kind).each do |event_scope|
                .event_scope= event_scope.name
                %br

= paginate @events
= content_for :js do
  = javascript_pack_tag 'visibility_toggle', 'data-turbolinks-track': 'reload'
= content_for :css do
  = stylesheet_pack_tag 'css/visibility_toggle'
