%h1.display-4= t('entities.events', count: @events.size)

= render 'search'

%table.table
  %thead
    %tr
      %th= 'Name'
      %th= 'Sport'
      %th= sort_link(@search, :visible, 'Visible')
      %th= 'Start at'
      %th= 'Markets'
      - EventScope.kinds.keys.map(&:capitalize).each do |scope_kind|
        %th= scope_kind

      %th= 'Wager'
      %th= 'Bets'
      %th= sort_link(@search, :traded_live, 'Live coverage')

      %th
    %tbody
      - @events.each do |event|
        %tr{ id: "event-#{event.id}" }
          %td
            = link_to event.name, event
            %br
              - event.labels.each do |label|
                %span.badge.badge-info= label.name
          %td= event.title.name
          %td.toggle-holder= visibility_toggle(event, update_visibility_event_path(event))

          %td= event.start_at ? l(event.start_at, format: :long) : '-'
          %td= event.markets.count

          - EventScope.kinds.keys.each do |kind|
            %td{ class: kind }
              - event.event_scopes.where(kind: kind).each do |event_scope|
                .event_scope= event_scope.name
                %br
          %td= event.wager
          %td= event.bets.count
          %td= status_badge(event.traded_live ? 'live' : 'offline')
          %td

= paginate @events
= content_for :js do
  = javascript_pack_tag 'visibility_toggle', 'data-turbolinks-track': 'reload'
= content_for :css do
  = stylesheet_pack_tag 'css/visibility_toggle'
