.row.mt-4
  .col-8.offset-2
    = render 'events/event', event: @event, labels: @labels
    = card header: t('entities.markets', count: 5), class: 'markets-info mb-3' do
      %table.table
        %thead
          %tr
            %th= t('attributes.name')
            %th= t('attributes.status')
            %th= t('attributes.priority')
            %th= t('entities.labels')
            %th= t('attributes.visibility')
        %tbody
          - @event.markets.each do |market|
            %tr
              %td
                = market.name
                %br
                - if market.specifier
                  = market.specifier
                  %br
                - market.labels.each do |label|
                  %span.badge.badge-info= label.name

              %td= market.status
              %td
                = select_tag :priority, options_for_select(Market::PRIORITIES, market.priority),
                 class: 'priority_toggle',
                 data: { endpoint: market_path(market),
                         resource: 'market',
                         initial_value: market.priority }
              %td
                .selection_input
                  = labels_selector(market, @market_labels)
                .selection_button
                  %button.btn.btn-success.mt-2.save_labels{ disabled: true,
                   data: { label_selector: "market_#{market.id}" } }= t(:save)

              %td= visibility_toggle(market, market_path(market))
- content_for :js do
  = javascript_pack_tag 'labels_selector'
  = javascript_pack_tag 'priority_toggle', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'visibility_toggle', 'data-turbolinks-track': 'reload'
- content_for :css do
  = stylesheet_pack_tag 'labels_selector'
  = stylesheet_pack_tag 'css/visibility_toggle'
