= card_form_for id: 'account_update_form',
                header: t('attributes.account_information'),
                url: account_update_customer_path,
                html: { id: 'account_update_form', method: :patch },
                resource: customer,
                class: 'account-information' do
  %table.table
    %tr
      %td= t('attributes.username')
      %td= customer.username
    %tr
      %td= t('attributes.account_kind')
      %td.form-group.row
        .col-6= select_tag 'customer[account_kind]',
                            allowed_account_kind_options(customer),
                            class: 'form-control'
    %tr
      %td= t('attributes.last_sign_in_ip')
      %td= customer.last_sign_in_ip
    %tr
      %td= t('attributes.last_sign_in_at')
      %td= l(customer.last_sign_in_at)
    %tr
      %td= t('attributes.sign_in_count')
      %td= customer.sign_in_count
    %tr
      %td= t('attributes.email_verified')
      = hidden_field_tag 'customer[email_verified]', false
      %td= check_box_tag 'customer[email_verified]', nil,
                          customer.email_verified
    %tr
      %td= t('attributes.verification_sent')
      = hidden_field_tag 'customer[verification_sent]', false
      %td= check_box_tag 'customer[verification_sent]', nil,
                          customer.verification_sent
    %tr
      %td= t('attributes.promotional')
      = hidden_field_tag 'customer[agreed_with_promotional]', false
      %td= check_box_tag 'customer[agreed_with_promotional]', nil,
                          customer.agreed_with_promotional
    %tr
      %td= t('entities.labels')
      %td
        = simple_labels_selector(customer, labels)
