= card header: t(:account_information), class: 'account-information' do
  %table.table
    %tr
      %td= t(:username)
      %td= @customer.username
    %tr
      %td= t(:last_sign_in_ip)
      %td= @customer.last_sign_in_ip
    %tr
      %td= t(:last_sign_in_at)
      %td= l(@customer.last_sign_in_at)
    %tr
      %td= t(:sign_in_count)
      %td= @customer.sign_in_count
    %tr
      %td= t(:labels)
      %td
        = labels_selector(@customer, @labels)

  .row
    %div.col.text-right
      %button.btn.btn-success.save_labels{ disabled: true,
       data: {label_selector: "customer_#{@customer.id}"} }= t(:save)
