- content_for :css do
  = stylesheet_pack_tag 'flatpickr', media: :all, 'data-turbolinks-track': 'reload'
  = stylesheet_pack_tag 'css/visibility_toggle'

- content_for :js do
  = javascript_pack_tag 'flatpickr', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'customers/account_lock', 'data-turbolinks-track': 'reload'

= card_form_for html: { id: 'account_lock_form', method: :patch },
                header: t('attributes.account_lock'),
                class: 'account-lock',
                url: update_lock_customer_path,
                resource: customer do
  %table.table.vertical-with-labels
    %tr
      %td= t('attributes.lock')
      %td= locked_toggle(customer)
    %tr
      %td= t('attributes.lock_reason')
      %td
        = collection_select :customer,
                            :lock_reason,
                            Customer.lock_reasons,
                            ->(k) { k.first },
                            ->(k) { t("lock_reasons.#{k.first}") },
                            { include_blank: true },
                            label: false,
                            class: 'form-control',
                            id: 'customer_lock_reason'
    %tr
      %td= t('attributes.lock_until')
      %td
        -# Hack for disabled input to send parameter
        = hidden_field_tag 'customer[locked_until]',
                           nil,
                           id: nil
        .input-group
          = text_field_tag 'customer[locked_until]',
                            l(customer.locked_until, default: nil, format: :date_picker),
                            label: false,
                            class: 'form-control form_date',
                            data: { min_date: l(Date.current, format: :date_picker) }
          .input-group-append
            .input-group-text.btn &#128197;
