= card header: t('entities.activities'), class: 'audit-logs' do
  - if audit_logs.any?
    %table.table.table-hover
      %tbody
        - audit_logs.each do |log|
          %tr
            %td= link_to l(log.created_at, format: :long), activity_path(log)
            %td= t "events.#{log.event}", log.interpolation
  - else
    .text-center
      %em= t(:no_records)

  = paginate audit_logs, param_name: :audit_logs_page
