= card header: t('entities.balances'),
       class: 'mt-4 balances' do
  - if @customer.wallets.any?
    %table.table
      - @customer.wallets.each do |wallet|
        %tr
          %td
            %b= t('entities.wallet_name', currency: wallet.currency_name)
          %td
            %b= wallet_balance(wallet)
        - wallet.balances.each do |balance|
          %tr
            %td= balance.kind
            %td= wallet_balance(balance)
  - else
    .text-center
      %em= t(:no_records)
