= card header: t('entities.balances'),
       class: 'mt-4 balances' do
  - if @customer.wallets.any?
    %table.table
      - @customer.wallets.each do |wallet|
        %tr
          %td
            %b= t('entities.wallet_name', currency: wallet.currency_name)
          %td
            %b= wallet_balance(wallet)
        %tr
          %td Real Money
          %td= wallet_balance(wallet, wallet.real_money_balance)
        %tr
          %td Bonus
          %td= wallet_balance(wallet, wallet.bonus_balance)
  - else
    .text-center
      %em= t(:no_records)
