= card header: t('entities.bonuses'), class: 'bonuses' do
  - if history.any?
    %table.table
      %thead
        %th= t('attributes.code')
        %th= t('attributes.activated_at')
        %th= t('attributes.status')
      %tbody
        - history.each do |customer_bonus|
          %tr
            %td= link_to customer_bonus.code, customer_bonus
            %td= l(customer_bonus.created_at)
            %td= status_badge(customer_bonus.status)
  - else
    .text-center
      %em= t(:no_records)
