= card header: t(:contact_information), class: 'contact-information' do
  %table.table
    %tr
      %td= t(:email)
      %td= @customer.email
    %tr
      %td= t(:phone_number)
      %td= @customer.phone
    %tr
      %td= t(:address)
      %td= @customer.address
    %tr
      %td= t('attributes.country')
      %td= @customer.address_country
    %tr
      %td= t('attributes.street_address')
      %td= @customer.address_street_address
    %tr
      %td= t('attributes.zip_code')
      %td= @customer.address_zip_code
    %tr
      %td= t('attributes.city')
      %td= @customer.address_city
    %tr
      %td= t('attributes.state')
      %td= @customer.address_state
