= card header: t(:add_instance, instance: t('entities.deposit')),
       class: 'customer-deposit-form' do
  .customer-entry-request-form
    = simple_form_for :deposit, url: create_fake_deposit_customer_path(params[:id]) do |f|
      .row
        .col-6= f.input :amount, as: :decimal, required: true
        .col-6= f.input :currency_id, collection: Currency.where(code: 'EUR'), include_blank: false
      .row
      = f.submit t(:confirm), class: 'btn btn-outline-dark'
