= simple_form_for limit do |f|
  = f.input :customer_id, as: :hidden
  .row
    .col-4= f.association :currency, collection: currencies, value_method: :id, required: true
    .col-4= f.input :value, input_html: { min: 0 }, required: true
    .col-4= f.input :range,
                    collection: dropdown_content_for_days_range(limit),
                    label_method: ->(k) { t("ranges.#{k.second}") },
                    value_method: :first,
                    required: true
  = f.submit t(:save), class: 'btn btn-outline-dark'
  - if limit.id
    = link_to t(:delete),
      deposit_limit_path(limit),
      method: :delete,
      data: { confirm: t('messages.deposit_limits.delete', customer_name: @customer.full_name) },
      class: 'btn btn-danger'
