= card header: t('documents.history_title',
                 document_type: t("attributes.#{@document_type}")),
       class: 'customer-documents' do
  %table.table.table-striped
    %tbody
      - @files.each do |file|
        %tr.row
          %td.col-6.text-truncate= file.filename
          %td.col-4.text-center= l(file.created_at, format: :short)
          %td.col-2.text-right= link_to t(:view),
                      rails_blob_path(file.document),
                      class: 'btn btn-outline-dark',
                      target: :blank
