= card header: t('documents.history_title',
                 document_type: t("attributes.#{@document_type}")),
       class: 'customer-documents' do
  %table.table.table-striped
    %tbody
      - @files.each do |file|
        %tr
          %td= file.filename
          %td.text-center= file.created_at
          %td.text-right= link_to t(:view),
                      rails_blob_path(file.document),
                      class: 'btn btn-outline-dark',
                      target: :blank
