= card header: t(:customer_documents), class: 'customer-documents' do
  = form_tag upload_documents_customer_path, multipart: true do
    %table.table.table-striped
      %tbody
        - VerificationDocument::KINDS.keys.each do |kind|
          - attachment = attachment_for(@customer, kind)
          %tr.row
            %td.col= t(kind)
            %td.col.text-truncate= attachment.filename
            %td.col.text-right= attachment.status
            %td.col-4.d-flex.justify-content-end
              = label_tag kind, class: 'btn btn-secondary mr-2' do
                = t(:choose_file)
                = file_field_tag kind, accept: 'image/jpeg, image/png, image/gif, application/pdf', hidden: 'hidden'
              - if attachment.is_a? VerificationDocument
                .dropdown
                  %button#dropdownMenuButton.btn.btn-outline-dark.dropdown-toggle{ aria: { expanded: false, haspopup: true },
                                                                                   'data-toggle' => 'dropdown',
                                                                                 type: :button }
                    = t(:action)
                  .dropdown-menu{ 'aria-labelledby' => 'dropdownMenuButton' }
                    = link_to t(:view),
                              rails_blob_path(attachment.document),
                              class: 'dropdown-item',
                              target: :blank
                    = link_to t(:confirm), update_document_status_customer_path(status: :confirmed, document_type: kind), class: 'dropdown-item'
                    = link_to t(:reject), update_document_status_customer_path(status: :rejected, document_type: kind), class: 'dropdown-item'
                    = link_to t(:history), documents_history_customer_path(id: @customer.id, document_type: kind), class: 'dropdown-item'
    .row
      .col.text-right
        = submit_tag t(:upload), class: 'btn btn-secondary'
