= card header: t('entities.customer_documents'), class: 'customer-documents' do
  - if flash[:file_errors]
    - flash[:file_errors].keys.each do |kind|
      %small.text-danger= "#{t("attributes.#{kind}")}: #{flash[:file_errors][kind]}"
      %br
  = form_tag upload_documents_customer_path, multipart: true, class: 'upload-form' do
    %table.table
      - VerificationDocument::KINDS.keys.each do |kind|
        - attachment = attachment_for(@customer, kind)
        %tr.row
          %td.col.d-flex.align-items-center= t("attributes.#{kind}" )
          %td.col.d-flex.align-items-center
            %span.d-inline-block.text-truncate(data-target="#{kind}" style="max-width: 250px")
              = attachment&.filename || t('no_file')
          %td.col.d-flex.align-items-center.justify-content-end= attachment&.status
          %td.col-md-12.col-lg-4.d-flex.align-items-center.justify-content-end
            = label_tag kind, class: 'btn btn-secondary mt-2 mr-2' do
              = t(:choose_file)
              = file_field_tag kind, accept: 'image/jpeg, image/png, image/gif, application/pdf',
                                     hidden: 'hidden',
                                     class: 'file-input'
            - unless attachment.nil?
              .dropdown
                %button#dropdownMenuButton.btn.btn-outline-dark.mr-2.dropdown-toggle{ aria: { expanded: false, haspopup: true },
                                                                                 'data-toggle' => 'dropdown',
                                                                                 type: :button }
                  = t(:action)
                .dropdown-menu{ 'aria-labelledby' => 'dropdownMenuButton' }
                  = link_to t(:view),
                            rails_blob_path(attachment.document),
                            class: 'dropdown-item',
                            target: :blank
                  = link_to t(:confirm),
                            status_verification_document_path(status: :confirmed,
                                                 id: attachment.id),
                                                 class: 'dropdown-item'
                  = link_to t(:reject),
                            status_verification_document_path(status: :rejected,
                                                 id: attachment.id),
                                                 class: 'dropdown-item'
                  = link_to t(:history),
                            documents_history_customer_path(id: @customer.id,
                                                            document_type: kind),
                                                            class: 'dropdown-item'
            - else @customer.documents_history(kind).any?
              = link_to t(:history),
                        documents_history_customer_path(id: @customer.id,
                                                        document_type: kind),
                                                        class: 'btn btn-outline-dark mr-2'
    .row
      .col.text-right
        = submit_tag t(:upload), class: 'btn btn-secondary mr-2'

- content_for :js do
  = javascript_pack_tag 'customers/documents_upload'
