= card header: t(:customer_documents), class: 'customer-documents' do
  %table.table
    = form_tag upload_documents_customer_path, multipart: true do
      %table.table.table-striped
        %tbody
          - Customer::ATTACHMENT_TYPES.each do |attachment_type|
            - file_exists = @customer.try(attachment_type).attached?
            - file = file_exists ? @customer.send(attachment_type).last : OpenStruct.new(filename: t('no_file'))
            %tr
              %td= t(attachment_type)
              %td= file.filename
              %td.text-right
                - if file_exists
                  .dropdown
                    %button#dropdownMenuButton.btn.btn-outline-dark.dropdown-toggle{ aria: { expanded: false, haspopup: true },
                                                                                     'data-toggle' => 'dropdown',
                                                                                   type: :button }
                      = t(:action)
                    .dropdown-menu{ 'aria-labelledby' => 'dropdownMenuButton' }
                      = link_to t(:view), rails_blob_path(file), class: 'dropdown-item'
                      = link_to t(:confirm), '#', class: 'dropdown-item disabled'
                      = link_to t(:reject), '#', class: 'dropdown-item disabled'
                      = link_to t(:history), '#', class: 'dropdown-item disabled'
                - else
                  = file_field_tag attachment_type, accept: 'image/jpeg, image/png, image/gif, application/pdf'
      .row
        .col.text-right
          = submit_tag t(:upload), class: 'btn btn-secondary'
