= card header: t(:activity), class: 'activity' do
  - if @entries.any?
    %table.table.table-hover
      %tbody
        %thead
          %th= t (:created_at)
          %th= t(:kind)
          %th= t(:amount)
          %th= t(:currency)
          %th= t(:authorized_at)
        - @entries.each do |entry|
          %tr
            %td= l entry.created_at, format: :long
            %td= entry.kind
            %td= entry.amount
            %td= entry.wallet.currency_code
            %td= entry.authorized_at ? (l entry.authorized_at, format: :long) : ''
  - else
    .text-center
      %em= t(:no_records)

  = paginate @entries
