= card header: t('entities.activity'), class: 'activity' do
  - if entries.any?
    %table.table.table-hover
      %tbody
        %thead
          %th= sort_link(search, :created_at, t('attributes.created_at'), default_order: :asc)
          %th= sort_link(search, :kind, t('attributes.kind'), default_order: :asc)
          %th= t('attributes.amount')
          %th= t('attributes.currency')
          %th= t('attributes.authorized_at')
        - entries.each do |entry|
          %tr
            %td= l entry.created_at, format: :long
            %td= entry.kind
            %td= entry.amount
            %td= entry.wallet.currency_code
            %td= safe_date_localize_helper(entry.authorized_at, format: :long)
  - else
    .text-center
      %em= t(:no_records)

  = paginate entries
