= card header: t(:entry_requests), class: 'customer-entry-requests' do
  - if @entry_requests.any?
    %table.table
      %tbody
        - @entry_requests.each do |entry_request|
          %tr
            %td= link_to l(entry_request.created_at, format: :long), entry_request
            %td= t "kinds.#{entry_request.kind}"
            %td= entry_request.origin
            %td= entry_request.amount
            %td= entry_request.currency_code
            %td= status_badge entry_request.status
  - else
    .text-center
      %em= t(:no_records)

  = paginate @entry_requests
