= card class: "customer-note-form #{margin_class}" do
  = simple_form_for note do |f|
    - unless small
      %legend= t(:add_instance, instance: t('entities.customer_note'))
    = f.input :customer_id, as: :hidden
    = f.input :content
    = f.submit t(:add), class: 'btn btn-outline-dark'
