= card header: t('attributes.personal_information'), class: 'personal-information' do
  = simple_form_for customer, html: { class: 'personal-information-form' },
                    url: update_personal_information_customer_path do |f|
    %table.table.vertical-with-labels
      %tr
        %td= t('attributes.first_name')
        %td
          = f.input :first_name,
                    label: false,
                    required: true,
                    input_html: { data: { only_letters: true } }
      %tr
        %td= t('attributes.last_name')
        %td
          = f.input :last_name,
                    label: false,
                    required: true,
                    input_html: { data: { only_letters: true } }
      %tr
        %td= t('attributes.gender')
        %td
          .form-group
            = f.collection_radio_buttons :gender, Customer.genders.keys, :itself,
              ->(gender) { t("genders.#{gender}") },
              label: false,
              item_wrapper_class: 'form-check form-check-inline' do |b|
              = b.radio_button class: 'form-check-input'
              = b.label class: 'form-check-label'

            .form-check.form-check-inline
              = f.radio_button :gender, '', class: 'form-check-input'
              = f.label :gender, t('not_set'), class: 'form-check-label'

      %tr
        %td= t('attributes.date_of_birth')
        %td
          .input-group
            = f.input_field :date_of_birth,
                            as: :date_picker,
                            label: false,
                            value: l(customer.date_of_birth, format: :date_picker),
                            data: { max_date: restricted_dob },
                            required: true
            .input-group-append
              .input-group-text.btn &#128197;
      %tr
        %td.text-right{ colspan: 2 }
          = f.submit t(:save), class: 'btn btn-outline-dark'

- content_for :js do
  = javascript_pack_tag 'input_validation', 'data-turbolinks-track': 'reload'
