= card header: t('attributes.personal_information'), class: 'personal-information' do
  = simple_form_for customer, html: { class: 'personal-information-form' },
                    url: update_personal_information_customer_path do |f|
    %table.table.vertical-with-labels
      %tr
        %td= t('attributes.first_name')
        %td
          = f.input :first_name,
                    label: false,
                    required: true
      %tr
        %td= t('attributes.last_name')
        %td
          = f.input :last_name,
                    label: false,
                    required: true
      %tr
        %td= t('attributes.gender')
        %td
          = build_enum_radio_group(resource: customer,
                                   attribute_name: :gender,
                                   collection: Customer.genders,
                                   translation_key: :genders)
      %tr
        %td= t('attributes.date_of_birth')
        %td
          = f.input :date_of_birth,
                    as: :date_picker,
                    label: false,
                    input_html: { value: l(customer.date_of_birth, format: :date_picker),
                                  data: { max_date: restricted_dob } },
                    required: true
      %tr
        %td.text-right{ colspan: 2 }
          = f.submit t(:save), class: 'btn btn-outline-dark'
