%table.table.entities
  %thead
    %tr
      %th= t('internal.attributes.username')
      %th= t('internal.attributes.email')
      %th= t('internal.attributes.ip_address')
      %th= t('internal.attributes.country')
      %th= t('internal.attributes.id')
      %th= t('internal.attributes.b_tag')
      %th= t('internal.attributes.balance')

  %tbody
    - filter.customers.each do |customer|
      %tr{ id: "customer-#{customer.id}" }
        %td
          = link_to customer.username, customer
          %br
          - customer.system_labels.each do |label|
            %span.badge.badge-success.mb-1= label.decorated_name
          - customer.labels.each do |label|
            %span.badge.badge-info.mb-1= label.decorated_name
        %td= customer.email
        %td= customer.last_sign_in_ip
        %td= customer.address_country
        %td= customer.id
        %td= customer.b_tag
        %td= wallet_balances_for(customer)
