= render 'customers/heading', customer: @customer

.row
  .col-md-3
    .mt-4= render 'customers/navigation', customer: @customer
    .mt-4.mb-4= render 'customers/notes', note: @note,
                                          customer_notes: @customer_notes,
                                          small: true
  .col-md-9
    .mt-4.mb-4= render 'customers/betting_limits',
                        global_limit: @global_limit,
                        limits_by_sports: @limits_by_sports

- content_for :js do
  = javascript_pack_tag 'customers/navigation_links'
