- content_for :page_content do
  - if @customer_bonus.new_record?
    .mt-4.mb-4= render 'customers/bonus_form', customer: @customer,
      active_bonuses: @active_bonuses, customer_bonus: @customer_bonus
  - else
    .mt-4.mb-4= render 'customer_bonuses/customer_bonus',
      customer_bonus: @customer_bonus

  .mt-4.mb-4= render 'customers/bonuses', customer: @customer,
    history: @history

- content_for :js do
  = javascript_pack_tag 'customers/navigation_links'

= render 'customers/base_template', customer: @customer, note: @note,
  customer_notes_widget: @customer_notes_widget
