%h1.display-4= t(:customers)

= render 'search'

%table.table.entities
  %thead
    %tr
      %th= t('attributes.username')
      %th= t('attributes.email')
      %th= t('attributes.ip_address')
      %th= t('attributes.id')
      %th= t('attributes.balance')

  %tbody
    - @customers.each do |customer|
      %tr{ id: "customer-#{customer.id}" }
        %td
          = link_to customer.username, customer
          %br
          - customer.labels.each do |label|
            %span.badge.badge-info= label.name
        %td= customer.email
        %td= customer.last_sign_in_ip
        %td= customer.id
        %td= wallet_balances_for(customer)

= paginate @customers
