= render 'customers/heading', customer: @customer

.row
  .col-md-3
    .mt-4= render 'customers/navigation', customer: @customer
    .mt-4.mb-4= render 'customers/notes', note: @note,
                                          customer_notes: @customer_notes,
                                          small: true
  .col-md-9
    .mt-4= render 'customers/account_information', customer: @customer, labels: @labels
    .mt-4= render 'customers/account_lock', customer: @customer
    .mt-4= render 'customers/personal_information', customer: @customer
    .mt-4= render 'customers/contact_information', customer: @customer
    .mt-4.mb-4= render 'customers/reset_password', customer: @customer

- content_for :css do
  = stylesheet_pack_tag 'labels_selector'

- content_for :js do
  = javascript_pack_tag 'simple_labels_selector'
  = javascript_pack_tag 'customers/navigation_links'
