- content_for :page_content do
  = render 'transactions/search',
           filter: @filter,
           search_path: transactions_customer_path(@customer)
  = render 'transactions/table', filter: @filter, no_user: true
  = paginate @filter.transactions

- content_for :js do
  = javascript_pack_tag 'customers/navigation_links'

= render 'customers/base_template',
         customer: @customer,
         note: nil,
         customer_notes_widget: nil
