.row.mt-4
  .col-6.offset-3
    = card header: t('entities.request_information'), class: 'request-info' do
      %table.table
        %tr
          %td= t('attributes.id')
          %td= @request.id
        %tr
          %td= t('attributes.status')
          %td= status_badge @request.status
        %tr
          %td= t('attributes.created_at')
          %td= l(@request.created_at, format: :long)
        %tr
          %td= t('attributes.customer')
          %td
            %span= @request.customer.full_name
            %span= "(#{@request.customer.username})"
        %tr
          %td= t('attributes.kind')
          %td= t("kinds.#{@request.kind}")
        %tr
          %td= t('attributes.amount')
          %td
            =number_with_precision @request.amount, precision: 2
            =@request.currency.code
        %tr
          %td= t('attributes.initiator')
          %td= @request.initiator
        %tr
          %td= t('attributes.comment')
          %td= @request.comment
        %tr
          %td= t('attributes.result')
          %td= @request.result_message

      %hr
      = link_back
