:ruby
  customer = @request.customer
  username = customer.username
  account_management_path = account_management_customer_path(customer)
.row.mt-4
  .col-6.offset-3
    = card header: t('internal.entities.request_information'), class: 'request-info' do
      %table.table
        %tr
          %td= t('internal.attributes.id')
          %td= @request.id
        %tr
          %td= t('internal.attributes.status')
          %td= status_badge @request.status
        %tr
          %td= t('internal.attributes.created_at')
          %td= l(@request.created_at, format: :long)
        %tr
          %td= t('internal.attributes.updated_at')
          %td= l(@request.updated_at, format: :long)
        %tr
          %td= t('internal.attributes.customer')
          %td
            %span= customer.full_name
            %span (#{link_to(username, account_management_path)})
        %tr
          %td= t('internal.attributes.kind')
          %td= t("kinds.#{@request.kind}")
        %tr
          %td= t('internal.attributes.amount')
          %td
            = number_with_precision @request.amount, precision: 2
            = @request.currency.code
        %tr
          %td= t('internal.attributes.initiator')
          %td= @request.initiator
        %tr
          %td= t('internal.attributes.comment')
          %td= @request.comment
        %tr
          %td= t('internal.attributes.result')
          %td= @request.result_message
        %tr
          %td= t('internal.attributes.external_id')
          %td= @request.external_id
        %tr
          %td= t('internal.attributes.mode')
          %td= t("kinds.#{@request.mode}")

      %hr
      = link_back
