- content_for :page_content do
  = render 'entries/search',
           filter: @filter,
           customer: @customer,
           search_path: customer_entries_path(@customer)
  = render 'entries/table', filter: @filter
  = paginate @filter.entries

- content_for :js do
  = javascript_pack_tag 'customers/navigation_links'

= render 'customers/base_template',
         customer: @customer,
         note: nil,
         customer_notes_widget: nil
