- content_for :css do
  = stylesheet_pack_tag 'flatpickr', media: :all, 'data-turbolinks-track': 'reload'

- content_for :js do
  = javascript_pack_tag 'flatpickr', 'data-turbolinks-track': 'reload'

= search_form_for search, url: verification_documents_path(tab: params[:tab]) do |f|
  %table.table.search
    %thead
      %tr
        %th
          .filter_title
            #{t('attributes.username')}:
          .filter_field
            = f.label :customer_username_cont, class: 'sr-only'
            = f.search_field :customer_username_cont,
                              class: 'form-control',
                              placeholder: t(:search, subject: t('attributes.username')),
                              autocomplete: :off

        %th
          .filter_title
            #{t('attributes.kind')}:
          .filter_field
            = f.label :kind_eq, class: 'sr-only'
            = f.select :kind_eq,
                       options_for_select(*kind_options),
                       { include_blank: true },
                       class: 'form-control'

        %th
          .filter_title
            #{t('attributes.status')}:
          .filter_field
            = f.label :status_eq, class: 'sr-only'
            = f.select :status_eq,
                       options_for_select(*status_options),
                       { include_blank: true },
                       class: 'form-control'
        %th
          .filter_title
            #{t(:search, subject: t('from'))}:
          .filter_field
            = f.label :created_at_gteq, class: 'sr-only'
            .input-group
              = f.search_field :created_at_gteq,
                                class: 'form-control form_date',
                                placeholder: t(:search, subject: t('from')),
                                value: search_date_for(:created_at_gteq)
              .input-group-append
                .input-group-text.btn &#128197;
        %th
          .filter_title
            #{t(:search, subject: t('to'))}:
          .filter_field
            = f.label :created_at_lteq, class: 'sr-only'
            .input-group
              = f.search_field :created_at_lteq,
                                class: 'form-control form_date',
                                placeholder: t(:search, subject: t('to')),
                                value: search_date_for(:created_at_lteq)
              .input-group-append
                .input-group-text.btn &#128197;


          = hidden_field_tag :tab, params[:tab]
        %th
          = f.submit class: 'btn btn-outline-dark btn-block'
