%h1.display-4= t('navigation.documents')
%table.table
  %thead
    %tr
      %th= t('attributes.username')
      %th= t('attributes.kind')
      %th= t('attributes.created_at')
      %th= t('attributes.status')
      %th= t('action')
  %tbody
  - @documents.each do |document|
    %tr
      %td= document.customer.username
      %td= t("attributes.#{document.kind}")
      %td= l(document.created_at, format: :short)
      %td= status_badge(document.status)
      %td
        .dropdown
          %button#dropdownMenuButton.btn.btn-outline-dark.mr-2.dropdown-toggle{ aria: { expanded: false, haspopup: true },
                                                                                         'data-toggle' => 'dropdown',
                                                                                         type: :button }
            = t(:action)
          .dropdown-menu{ 'aria-labelledby' => 'dropdownMenuButton' }
            = link_to t(:view),
                                    rails_blob_path(document.document),
                                    class: 'dropdown-item',
                                    target: :blank
            = link_to t(:confirm),
                                    document_update_document_status_path(status: :confirmed,
                                                                         document_id: document.id),
                                                                         class: 'dropdown-item'
            = link_to t(:reject),
                                    document_update_document_status_path(status: :rejected,
                                                                         document_id: document.id),
                                                                         class: 'dropdown-item'
