%h1.display-4= t('internal.navigation.documents')

= render 'search', search: @search

%ul.nav.nav-tabs#documents-tabs
  %li.nav-item
    = link_to t('internal.navigation.document.pending'),
              verification_documents_path(tab: :pending),
              class: 'nav-link',
              'data-target-controller': pending_tab
  %li.nav-item
    = link_to t('internal.navigation.document.recently_actioned'),
              verification_documents_path(tab: :actioned),
              class: 'nav-link',
              'data-target-controller': actioned_tab
%table.table.entities
  %thead
    %tr
      %th= sort_link @search, :customer_username, t('internal.attributes.username')
      %th= t('internal.attributes.kind')
      %th= sort_link @search, :created_at, t('internal.attributes.created_at')
      %th= t('internal.attributes.status')
      %th= t('internal.view')
      %th.text-center= t('internal.attributes.actions')
      %th= t('internal.details')
  %tbody
    - @documents.each do |document|
      %tr{ id: "document-#{document.id}" }
        %td= link_to document.customer.username, documents_customer_path(id: document.customer.id)
        %td= t("attributes.#{document.kind}")
        %td= l(document.created_at, format: :short)
        %td= status_badge(document.status)
        %td= link_to t('internal.view'), rails_blob_path(document.document),
                      class: 'btn btn-outline-dark mr-2', target: :blank
        %td.text-center
          = render 'documents/actions', document: document
        %td= link_to t('internal.details'), verification_document_path(document),
                      class: 'btn btn-outline-dark mr-2'
