.row.mt-4
  .col-6.offset-3
    = card header: t('internal.entities.document'), class: 'document-info' do
      %table.table
        %tr
          %td= t('internal.attributes.username')
          %td= link_to @document.customer.username,
                        documents_customer_path(id: @document.customer.id)
        %tr
          %td= t('internal.attributes.kind')
          %td= t("internal.attributes.#{@document.kind}")
        %tr
          %td= t('internal.attributes.created_at')
          %td= l(@document.created_at, format: :long)
        %tr
          %td= t('internal.attributes.status')
          %td= status_badge(@document.status)
        %tr
          %td= t('internal.view')
          %td= link_to t('internal.view'),
                        rails_blob_path(@document.document),
                        class: 'btn btn-outline-dark mr-2',
                        target: :blank
        %tr
          %td= t('internal.attributes.actions')
          %td
            = render 'documents/actions', document: @document
        %tr
      %hr
      = link_back
= render 'documents/comment_form', document: @document, comments: @comments

