.row.mt-4
  .col-6.offset-3
    = card header: t('entities.activity'), class: 'activity-info' do
      %table.table
        %tr
          %td= t('attributes.action')
          %td= @formatter.format_action(@activity)
        %tr
          %td= t('attributes.created_at')
          %td= l(@activity.created_at, format: :long)
        %tr
          %td= t('attributes.origin_kind')
          %td= @activity.origin[:kind]
        %tr
          %td= t('attributes.origin_id')
          %td= @activity.origin[:id]
        %tr
          %td= t('attributes.origin_name')
          %td= @activity.origin_model&.full_name
        - unless @activity.payload[:changes].blank?
          %tr
            %td= t('attributes.changes')
            %td
              %ul.list-unstyled
                - @activity.payload[:changes].each do |attr, changes|
                  %li= "'#{attr}' changed from '#{changes.first}' to '#{changes.last}'"

      %hr
      = link_back
