%h1.display-4= t('entities.market_templates')

%table.table
  %thead
    %tr
      %th= t('attributes.id')
      %th= t('attributes.external_id')
      %th= t('attributes.name')
      %th= t('attributes.category')

  %tbody
    - @market_templates.each do |market_template|
      %tr
        %td= market_template.id
        %td= market_template.external_id
        %td= market_template.name
        %td= market_template.category

= paginate @market_templates
