.row.mt-4
  .col
    = card header: @bonus.code, class: 'bonus-details' do
      .row
        .col-6
          = card do
            %table.table
              %tr
                %td= t('attributes.rollover_multiplier')
                %td= @bonus.rollover_multiplier
              %tr
                %td= t('attributes.max_rollover_per_bet')
                %td= @bonus.max_rollover_per_bet
              %tr
                %td= t('attributes.max_deposit_match')
                %td= @bonus.max_deposit_match
              %tr
                %td= t('attributes.min_deposit')
                %td= @bonus.min_deposit
              %tr
                %td= t('attributes.percentage')
                %td= @bonus.percentage
        .col-6
          = card do
            %table.table
              %tr
                %td= t('attributes.kind')
                %td= @bonus.kind
              %tr
                %td= t('attributes.min_odds_per_bet')
                %td= @bonus.min_odds_per_bet
              %tr
                %td= t('attributes.valid_for_days')
                %td= @bonus.valid_for_days
              %tr
                %td= t('attributes.expires_at')
                %td= l @bonus.expires_at

      %hr
      = link_back
      = link_to t(:edit),
                edit_bonus_path(@bonus),
                class: 'btn btn-outline-dark'

      = link_to t(:delete),
                @bonus,
                class: 'btn btn-outline-dark',
                method: :delete,
                data: { confirm: t(:confirm_sure) }
