= card header: t(:activity), class: 'activity' do
  - if @customer.entries.any?
    %table.table.table-hover
      %tbody
        - @entries.each do |entry|
          %tr
            %td= l entry.created_at, format: :long
            %td= entry.kind
            %td= entry.amount
            %td= entry.wallet.currency_code
  - else
    .text-center
      %em= t(:no_records)

  = paginate @entries
