= card header: t(:add_entry_request), class: 'customer-entry-request-form' do
  .customer-entry-request-form
    = simple_form_for @entry_request,
                      method: :post,
                      url: backoffice_entry_requests_path do |f|
      = f.input :customer_id, as: :hidden
      .row
        .col-6
          = f.input :kind,
                    collection: EntryKinds::FUND_KINDS,
                    include_blank: false,
                    label_method: ->(k) { t("kinds.#{k.first}") },
                    value_method: ->(k) { k.first }
        .col-6
          = f.input :origin,
                    collection: EntryRequest.origins,
                    include_blank: false,
                    label_method: ->(k) { t("kinds.#{k.first}") },
                    value_method: ->(k) { k.first }
      .row
        .col-6= f.input :amount, as: :decimal, required: true
        .col-6= f.association :currency, include_blank: false
      .row
        .col= f.input :comment, as: :text, required: true
      = f.submit t(:add), class: 'btn btn-outline-dark'
