= card header: t(:customer_notes), class: 'customer-notes' do
  = card do
    .customer-notes-form
      = simple_form_for @note, url: backoffice_customer_notes_path do |f|
        %legend= t(:add_note)
        = f.input :customer_id, as: :hidden
        = f.input :content
        = f.submit t(:add), class: 'btn btn-outline-dark'

  = card class: 'mt-2' do
    - @customer_notes.each do |note|
      = render 'backoffice/customer_notes/show', note: note

    = paginate @customer_notes
