%h1.display-4= @customer.username

.row.mt-4
  .col-6
    = render 'backoffice/customers/account_information'

  .col-6
    = render 'backoffice/customers/personal_information'

.row.mt-4
  .col-6
    = render 'backoffice/customers/notes'
  .col-6
    = render 'backoffice/customers/contact_information'

- content_for :css do
  = stylesheet_pack_tag 'customers/labels_selector'

- content_for :js do
  = javascript_pack_tag 'customers/labels_selector'
