%h1.display-4= @customer.username

.row.mt-4
  .col-6
    = card header: t(:account_information) do
      %table.table
        %tr
          %td= t(:username)
          %td= @customer.username
        %tr
          %td= t(:last_sign_in_ip)
          %td= @customer.last_sign_in_ip
        %tr
          %td= t(:last_sign_in_at)
          %td= l(@customer.last_sign_in_at)
        %tr
          %td= t(:sign_in_count)
          %td= @customer.sign_in_count
        %tr
          %td= t(:labels)
          %td
            = collection_select(:labels, :ids, @labels, :id, :name,
              { :selected => @customer.labels.map(&:id) }, { :class => 'form-control',
              :id => 'customers_labels',
              :multiple => true,
              :data => { :placeholder => 'Add customer label',
                :adding_url => add_label_backoffice_customer_path(@customer),
                :removing_url => remove_label_backoffice_customer_path(@customer) }})

  .col-6
    = card header: t(:personal_information) do
      %table.table
        %tr
          %td= t(:first_name)
          %td= @customer.first_name
        %tr
          %td= t(:last_name)
          %td= @customer.last_name
        %tr
          %td= t(:gender)
          %td= @customer.gender.humanize
        %tr
          %td= t(:date_of_birth)
          %td= l(@customer.date_of_birth)

.row.mt-4
  .col-6.offset-6
    = card header: t(:contact_information) do
      %table.table
        %tr
          %td= t(:email)
          %td= @customer.email
        %tr
          %td= t(:phone_number)
          %td= @customer.phone
        %tr
          %td= t(:address)
          %td= @customer.address

= stylesheet_pack_tag 'customer_details_css'
= javascript_pack_tag 'customer_details'
