.row
  .col.mt-2= f.error_notification
.row
  .col-8.offset-2
    %h2= heading
    %hr
    .row
      .col
        = f.hidden_field :id, hidden: true
        = f.input :external_id, required: true, readonly: true
        = f.input :external_name, required: true, readonly: true
        = f.input :name_en, label: t('custom_name_en')
        = link_to t('internal.edit_other_translations'),
                  '#name-attrs',
                  data: { toggle: 'collapse',
                        'aria-expanded': false },
                  class: 'nav-link dropdown-toggle'
        .collapse#name-attrs
          - translated_attributes_for(:name).each do |attr|
            = f.input attr, label: t("custom_#{attr}")

        = f.input :short_name_en, label: t('custom_short_name_en')
        = link_to t('internal.edit_other_translations'),
                  '#short-name-attrs',
                  data: { toggle: 'collapse',
                          'aria-expanded': false },
                  class: 'nav-link dropdown-toggle'
        .collapse#short-name-attrs
          - translated_attributes_for(:short_name).each do |attr|
            = f.input attr, label: t("custom_#{attr}")
        = f.input :slug, label: t('attributes.slug')
        = f.input :meta_title,
                  as: :text,
                  rows: 2,
                  label: t('internal.attributes.meta_title'),
                  class: 'form-control'
        = f.input :meta_description,
                  as: :text,
                  rows: 4,
                  label: t('internal.attributes.meta_description'),
                  class: 'form-control'
        = f.label :kind
        = f.select :kind,
            Title.kinds,
            { include_blank: false, required: true },
            class: 'form-control'
        = f.input :show_category_in_navigation, required: true
        %hr
        = f.button :submit, t('internal.save'), class: 'btn btn-success'
        = link_back
