.row.mt-4
  .col-8.offset-2
    = card header: t('.title'), class: 'mb-3' do
      = simple_form_for @content_provider do |f|
        = f.input :name
        = f.input :slug
        = f.input :meta_title,
                  as: :text,
                  rows: 2,
                  label: t('attributes.meta_title'),
                  class: 'form-control'
        = f.input :meta_description,
                  as: :text,
                  rows: 4,
                  label: t('attributes.meta_description'),
                  class: 'form-control'
        = f.input :as_vendor
        = f.input :logo_url, as: :string
        = f.input :representation_name
        = f.input :visible
        = f.input :internal_image_name
        = f.input :position
        = f.input :external_status
        = f.submit 'Save', class: 'btn btn-success'
