= simple_form_for @content_provider do |f|
  = f.input :name
  = f.input :slug
  = f.input :as_vendor
  = f.input :logo_url
  = f.input :representation_name
  = f.input :visible
  = f.input :internal_image_name
  = f.submit 'Save'
