= render 'search', content_providers: @content_providers, search: @search

%table.table.entities
  %thead
    %tr
      %th= t('attributes.id')
      %th= t('attributes.name')
      %th= t('attributes.as_vendor')
      %th= t('attributes.internal_image_name')
      %th= t('attributes.representation_name')
      %th= t('attributes.slug')
      %th= t('attributes.visible')
      %th= t('attributes.position')
      %th= t('attributes.external_status')
  %tbody
    - @content_providers.each do |content_provider|
      %tr
        %td= content_provider.id
        %td= link_to(content_provider.name,
          edit_every_matrix_content_provider_path(content_provider))
        %td= content_provider.as_vendor
        %td= content_provider.internal_image_name
        %td= content_provider.representation_name
        %td= content_provider.slug
        %td= content_provider.visible
        %td= content_provider.position
        %td= content_provider.external_status

= paginate @content_providers
