
.col
  = card header: customer_bonus.code, class: 'bonus-details' do
    .row
      .col-6
        = card do
          %table.table
            %tr
              %td= t('attributes.customer_name')
              %td= customer_bonus.link_to_customer
            %tr
              %td= t('attributes.rollover_multiplier')
              %td= customer_bonus.rollover_multiplier
            %tr
              %td= t('attributes.max_rollover_per_bet')
              %td= customer_bonus.max_rollover_per_bet
            %tr
              %td= t('attributes.max_deposit_match')
              %td= customer_bonus.max_deposit_match
            %tr
              %td= t('attributes.min_deposit')
              %td= customer_bonus.min_deposit
      .col-6
        = card do
          %table.table
            %tr
              %td= t('attributes.percentage')
              %td= customer_bonus.percentage(human: true)
            %tr
              %td= t('attributes.kind')
              %td= customer_bonus.kind
            %tr
              %td= t('attributes.min_odds_per_bet')
              %td= customer_bonus.min_odds_per_bet
            %tr
              %td= t('attributes.valid_for_days')
              %td= customer_bonus.valid_for_days
            - if customer_bonus.expired?
              %tr
                %td= t('attributes.expired_at')
                %td= l(customer_bonus.expires_at)
            - else
              %tr
                %td= t('attributes.expires_at')
                %td= l(customer_bonus.expires_at)

    %hr
    .row
      .col-6
        = card(header: t(:activated, instance: t('entities.bonus'))) do
          %table.table
            %tr
              %td= t('entities.entry_information')
              %td= customer_bonus.link_to_entry
            %tr
              %td= t('attributes.rollover_balance')
              %td= customer_bonus.rollover_balance
            %tr
              %td= t('attributes.rollover_initial_balance')
              %td= customer_bonus.rollover_initial_value
            %tr
              %td= t('attributes.awarded_amount')
              %td= customer_bonus.amount(human: true)
            - if customer_bonus.customer_bonus.activated_at
              %tr
                %td= t('attributes.activated_at')
                %td= l(customer_bonus.activated_at)
            - if customer_bonus.customer_bonus.deactivated_at
              %tr
                %td= t('attributes.deactivated_at')
                %td= l(customer_bonus.deactivated_at)

    %hr
      - if customer_bonus.active?
        = link_to t('actions.cancel'),
                  customer_bonus,
                  class: 'btn btn-outline-danger',
                  method: :delete,
                  data: { confirm: t(:confirm_sure) }
