:ruby
  entry = @customer_bonus.entry
  customer = @customer_bonus.customer
  entry_link = entry ? link_to(t('entities.entry'), entry_path(entry)) : 'n/a'

.row.mt-4
  .col
    = card header: @customer_bonus.code, class: 'bonus-details' do
      .row
        .col-6
          = card do
            %table.table
              %tr
                %td= t('attributes.customer_name')
                %td= link_to(customer.full_name, customer_path(customer))
              %tr
                %td= t('attributes.rollover_multiplier')
                %td= @customer_bonus.rollover_multiplier
              %tr
                %td= t('attributes.max_rollover_per_bet')
                %td= @customer_bonus.max_rollover_per_bet
              %tr
                %td= t('attributes.max_deposit_match')
                %td= @customer_bonus.max_deposit_match
              %tr
                %td= t('attributes.min_deposit')
                %td= @customer_bonus.min_deposit
        .col-6
          = card do
            %table.table
              %tr
                %td= t('attributes.percentage')
                %td= number_to_percentage(@customer_bonus.percentage, precision: 0)
              %tr
                %td= t('attributes.kind')
                %td= @customer_bonus.kind
              %tr
                %td= t('attributes.min_odds_per_bet')
                %td= @customer_bonus.min_odds_per_bet
              %tr
                %td= t('attributes.valid_for_days')
                %td= @customer_bonus.valid_for_days
              - if @customer_bonus.expired?
                %tr
                  %td= t('attributes.expired_at')
                  %td= l @customer_bonus.deleted_at
                %tr
                  %td= t('attributes.expiration_reason')
                  %td= t("expiration_reasons.#{@customer_bonus.expiration_reason}")
              - else
                %tr
                  %td= t('attributes.expires_at')
                  %td= l @customer_bonus.expires_at

      %hr
      .row
        .col-6
          = card(header: t(:activated, instance: t('entities.bonus'))) do
            %table.table
              %tr
                %td= t('entities.entry_information')
                %td= entry_link
              %tr
                %td= t('attributes.rollover_balance')
                %td= @customer_bonus.rollover_balance
              %tr
                %td= t('attributes.rollover_initial_balance')
                %td= @customer_bonus.rollover_initial_value

      %hr
      = link_back bonuses_customer_path(@customer_bonus.customer)
      - unless @customer_bonus.expired?
        = link_to t('actions.expire'),
                  @customer_bonus,
                  class: 'btn btn-outline-danger',
                  method: :delete,
                  data: { confirm: t(:confirm_sure) }
