%table.table.entities
  %thead
    %tr
      %th= t('attributes.id')
      %th= t('attributes.entry_kind')
      %th= sort_link(filter.search, :created_at, t('attributes.created_at'), default_order: :asc)
      %th= t('attributes.amount')
      %th= t('attributes.currency')
      %th= t('attributes.balance')
      %th= t('attributes.balance_kind')
  %tbody
    - if filter.balance_entries.any?
      - filter.balance_entries.each do |balance_entry|
        %tr{ id: "balance-entry-#{balance_entry.id}" }
          %td.id= balance_entry.id
          %td.id
            = link_to(entry_kind_link_name(balance_entry), balance_entry.entry)
          %td= l(balance_entry.created_at, format: :long)
          %td{ class: balance_change_badge_class(balance_entry) }
            = balance_entry.amount
          %td= balance_entry.balance.wallet.currency_code
          %td= balance_entry.balance_amount_after
          %td
            %b= t("kinds.#{balance_entry.balance.kind}")
    - else
      %tr
        %td{ colspan: 9 }= t(:not_found, instance: t('entities.balance_entries'))
