= card header: t('customers.statistics.bonus.title'), class: 'bonus mb-3' do
  %table.table.vertical-with-labels
    %tr.total_bonus_awarded
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:total_bonus_awarded)
      %td= stats.total_bonus_awarded(human: true)

    %tr.total_bonus_completed
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:total_bonus_completed)
      %td= stats.total_bonus_completed(human: true)
