= card header: t('customers.statistics.casino_performance.title'), class: 'casino-perform mb-3' do
  %table.table.vertical-with-labels
    %tr.total_casino_count
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:total_casino_count)
      %td= stats.count_items(Customers::StatisticDecorator::TOTAL_CASINO)

    %tr.total_casino_wager
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:total_casino_wager)
      %td= stats.wager(Customers::StatisticDecorator::TOTAL_CASINO, human: true)

    %tr.total_casino_payout
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:total_casino_payout)
      %td= stats.payout(Customers::StatisticDecorator::TOTAL_CASINO, human: true)

    %tr
      %td{ colspan: 3 }

    %tr.casino_game_count
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:casino_game_count)
      %td= stats.count_items(Customers::StatisticDecorator::CASINO_GAME)

    %tr.casino_game_wager
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:casino_game_wager)
      %td= stats.wager(Customers::StatisticDecorator::CASINO_GAME, human: true)

    %tr.casino_game_payout
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:casino_game_payout)
      %td= stats.payout(Customers::StatisticDecorator::CASINO_GAME, human: true)

    %tr
      %td{ colspan: 3 }

    %tr.live_casino_count
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:live_casino_count)
      %td= stats.count_items(Customers::StatisticDecorator::LIVE_CASINO)

    %tr.live_casino_wager
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:live_casino_wager)
      %td= stats.wager(Customers::StatisticDecorator::LIVE_CASINO, human: true)

    %tr.live_casino_payout
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:live_casino_payout)
      %td= stats.payout(Customers::StatisticDecorator::LIVE_CASINO, human: true)

    %tr
      %td{ colspan: 3 }

    %tr.average_wager_total_casino
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:average_wager_total_casino)
      %td= stats.average_wager_value(Customers::StatisticDecorator::TOTAL_CASINO)

    %tr.average_wager_casino_game
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:average_wager_casino_game)
      %td= stats.average_wager_value(Customers::StatisticDecorator::CASINO_GAME)

    %tr.average_wager_live_casino
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:average_wager_live_casino)
      %td= stats.average_wager_value(Customers::StatisticDecorator::LIVE_CASINO)
