= card header: t('customers.statistics.deposit_and_withdrawal.title'),
       class: 'deposit-and-withdrawal mb-3' do
  %table.table.vertical-with-labels
    %tr.deposit_count
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:deposit_count)
      %td= stats.deposit_count

    %tr.deposit_value
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:deposit_value)
      %td= stats.deposit_value(human: true)

    %tr.withdrawal_count
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:withdrawal_count)
      %td= stats.withdrawal_count

    %tr.withdrawal_value
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:withdrawal_value)
      %td= stats.withdrawal_value(human: true)

    %tr.hold_value
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:hold_value)
      %td= stats.hold_value
