= card header: t('customers.statistics.profit_and_revenue.title'), class: 'profit-and-revenue' do
  %table.table.vertical-with-labels
    %tr.total_gross_gaming_revenue
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:total_gross_gaming_revenue)
      %td= stats.gross_gaming_revenue(Customers::StatisticDecorator::TOTAL, human: true)

    %tr.prematch_gross_gaming_revenue
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:prematch_gross_gaming_revenue)
      %td= stats.gross_gaming_revenue(Customers::StatisticDecorator::PREMATCH, human: true)

    %tr.live_gross_gaming_revenue
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:live_gross_gaming_revenue)
      %td= stats.gross_gaming_revenue(Customers::StatisticDecorator::LIVE, human: true)

  %table.table.vertical-with-labels
    %tr.total_margin
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:total_margin)
      %td= stats.margin(Customers::StatisticDecorator::TOTAL)

    %tr.prematch_margin
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:prematch_margin)
      %td= stats.margin(Customers::StatisticDecorator::PREMATCH)

    %tr.live_margin
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:live_margin)
      %td= stats.margin(Customers::StatisticDecorator::LIVE)
