= card header: t('customers.statistics.profit_and_revenue.title'), class: 'profit-and-revenue' do
  %table.table.vertical-with-labels
    %tr.total_gross_gaming_revenue
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:total_gross_gaming_revenue)
      %td= stats.gross_gaming_revenue(Customers::StatisticDecorator::TOTAL, human: true)

    %tr.prematch_gross_gaming_revenue
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:prematch_gross_gaming_revenue)
      %td= stats.gross_gaming_revenue(Customers::StatisticDecorator::PREMATCH, human: true)

    %tr.live_bet_gross_gaming_revenue
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:live_bet_gross_gaming_revenue)
      %td= stats.gross_gaming_revenue(Customers::StatisticDecorator::LIVE_SPORTS, human: true)

    %tr.casino_gross_gaming_revenue
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:casino_gross_gaming_revenue)
      %td= stats.gross_gaming_revenue(Customers::StatisticDecorator::CASINO_GAME, human: true)

    %tr.live_casino_gross_gaming_revenue
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:live_casino_gross_gaming_revenue)
      %td= stats.gross_gaming_revenue(Customers::StatisticDecorator::LIVE_CASINO, human: true)

  %table.table.vertical-with-labels
    %tr.total_margin
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:total_margin)
      %td= stats.margin(Customers::StatisticDecorator::TOTAL)

    %tr.prematch_margin
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:prematch_margin)
      %td= stats.margin(Customers::StatisticDecorator::PREMATCH)

    %tr.live_margin
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:live_margin)
      %td= stats.margin(Customers::StatisticDecorator::LIVE_SPORTS)

    %tr.casino_margin
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:casino_margin)
      %td= stats.margin(Customers::StatisticDecorator::CASINO_GAME)

    %tr.live_casino_margin
      %td{ colspan: 2 }
        = Customers::Statistic.human_attribute_name(:live_casino_margin)
      %td= stats.margin(Customers::StatisticDecorator::LIVE_CASINO)
