= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .row
    .col-6.offset-3
      %h2= t(:sign_in)
  .row
    .col-6.offset-3
      = f.input :username, required: false, autofocus: true
      = f.input :password, required: false
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      = f.button :submit, t(:sign_in), class: 'btn btn-dark btn-block'
      %hr
      = render 'customers/shared/links'
