= simple_form_for @event_scope do |f|
  .row
    .col.mt-2= f.error_notification
  .row
    .col-8.offset-2
      %h2= t('internal.event_scopes.edit.heading')
      %hr
      .row
        .col
          = f.input :slug, label: t('internal.attributes.slug')
          = f.input :meta_title,
                    as: :text,
                    rows: 2,
                    label: t('internal.attributes.meta_title'),
                    class: 'form-control'
          = f.input :meta_description,
                    as: :text,
                    rows: 4,
                    label: t('internal.attributes.meta_description'),
                    class: 'form-control'
          %hr
          = f.button :submit, t('internal.save'), class: 'btn btn-success'
          = link_to t('internal.back'), event_scopes_path(title_id: @event_scope.title_id),
                               class: 'btn btn-outline-dark'

