= simple_form_for @event_scope do |f|
  .row
    .col.mt-2= f.error_notification
  .row
    .col-8.offset-2
      %h2= t('.heading')
      %hr
      .row
        .col
          = f.input :slug, label: t('attributes.slug')
          = f.input :meta_description,
                    as: :text,
                    rows: 4,
                    label: t('attributes.meta_description'),
                    class: 'form-control'
          %hr
          = f.button :submit, t(:save), class: 'btn btn-success'
          = link_to t('back'), event_scopes_path(title_id: @event_scope.title_id),
                               class: 'btn btn-outline-dark'

