- content_for :css do
  = stylesheet_pack_tag 'flatpickr', media: :all, 'data-turbolinks-track': 'reload'

- content_for :js do
  = javascript_pack_tag 'flatpickr', 'data-turbolinks-track': 'reload'

= search_form_for filter.search, url: search_path, as: :customer_transactions do |f|
  %table.table.search
    %thead
      %tr
        %th
          .filter_title
            #{t('attributes.kind')}:
          .filter_field
            = f.label :type, class: 'sr-only'
            = f.select :type_eq,
                       CustomerTransaction::TYPES,
                       { include_blank: true },
                       class: 'form-control'
        %th
          .filter_title
            #{t('attributes.status')}:
          .filter_field
            = f.label :status, class: 'sr-only'
            = f.select :status_eq,
                       CustomerTransaction::STATUSES,
                       { include_blank: true },
                       class: 'form-control'
        %th
          .filter_title
            #{t('attributes.payment_method')}:
          .filter_field
            = f.label :entry_requests_mode_eq, class: 'sr-only'
            = f.select :entry_requests_mode_eq,
                       EntryRequest.modes,
                       { include_blank: true },
                       class: 'form-control'

        %th
          .filter_title
            #{t(:search, subject: t('from'))}:
          .filter_field
            = f.label :created_at_gteq, class: 'sr-only'
            .input-group
              = f.search_field :created_at_gteq,
                                class: 'form-control form_date',
                                placeholder: t(:search, subject: t('from')),
                                value: params.dig(:customer_transactions, :created_at_gteq)
              .input-group-append
                .input-group-text.btn &#128197;
        %th
          .filter_title
            #{t(:search, subject: t('to'))}:
          .filter_field
            = f.label :created_at_lteq, class: 'sr-only'
            .input-group
              = f.search_field :created_at_lteq,
                                class: 'form-control form_date',
                                placeholder: t(:search, subject: t('to')),
                                value: params.dig(:customer_transactions, :created_at_lteq)
              .input-group-append
                .input-group-text.btn &#128197;
        %th
          = f.submit class: 'btn btn-outline-dark btn-block'
