%table.table.entities
  %thead
    %tr
      %th= t('attributes.id')
      %th= t('attributes.external_id')
      %th= t('attributes.kind')
      %th= t('attributes.status')
      %th= sort_link(filter.search, :amount, t('attributes.amount'), default_order: :desc)
      %th= t('attributes.payment_method')
      - unless local_assigns[:no_user]
        %th= t('attributes.username')
      %th= sort_link(filter.search, :created_at, t('attributes.requested_at'), default_order: :asc)
      %th= t('attributes.completed_at')
  %tbody
    - if filter.transactions.any?
      - filter.transactions.each do |transaction|
        %tr{ id: "customertransaction-#{transaction.id}" }
          %td.id= transaction.id
          %td= transaction.entry_request.external_id
          %td
            %b= t("kinds.#{transaction.type}")
          %td= status_badge(transaction.status)
          %td
            = number_with_precision transaction.entry_request.amount, precision: 2
            = transaction.entry_request.currency.code
          %td= transaction.entry_request.mode
          - unless local_assigns[:no_user] && no_user
            %td= link_to transaction.customer.username, transaction.customer
          %td= l(transaction.created_at, format: :long)
          %td= l(transaction.entry.created_at, format: :long) if transaction.entry
    - else
      %tr
        %td{ colspan: 9 }= t(:not_found, instance: t('entities.entry_requests'))
