.row.mt-4
  .col-6.offset-3
    = card header: t('entities.activity'), class: 'activity-info' do
      %table.table
        %tr
          %td= t('attributes.action')
          %td= t("events.#{@activity.event}", @activity.interpolation)
        %tr
          %td= t('attributes.created_at')
          %td= l(@activity.created_at, format: :long)
        %tr
          %td= t('attributes.origin_id')
          %td= @activity.origin_id
        %tr
          %td= t('attributes.info')
          %td
            %ul.list-unstyled
              - @activity.context.attributes.each do |attr, value|
                %li
                  %b= "#{attr}: "
                  %span= value

      %hr
      = link_back
