.row.mt-4
  .col-8.offset-2
    = card header: t('.title'), class: 'mb-3' do
      = simple_form_for @vendor do |f|
        = f.input :name
        = f.input :slug
        = f.input :meta_description,
                  as: :text,
                  rows: 4,
                  label: t('attributes.meta_description'),
                  class: 'form-control'
        = f.input :logo_url, as: :string
        = f.input :enabled
        = f.input :vendor_id, label: :external_id, disabled: true
        = f.input :visible
        = f.input :internal_image_name
        = f.input :position
        = f.submit 'Save', class: 'btn btn-success'
