= render 'search', vendors: @vendors, search: @search

%table.table.entities
  %thead
    %tr
      %th= t('attributes.id')
      %th= t('attributes.name')
      %th= t('attributes.slug')
      %th= t('attributes.internal_image_name')
      %th= t('attributes.external_vendor_id')
      %th= t('attributes.visible')
      %th= t('attributes.position')
      %th= t('attributes.external_status')
  %tbody
    - @vendors.each do |vendor|
      %tr
        %td= vendor.id
        %td= link_to vendor.name, edit_every_matrix_vendor_path(vendor)
        %td= vendor.slug
        %td= vendor.internal_image_name
        %td= vendor.vendor_id
        %td= vendor.visible
        %td= vendor.position
        %td= vendor.external_status

= paginate @vendors
