%h1.display-4
  = t(:currencies)
  = link_to t(:add_currency), new_backoffice_currency_path, { class: 'btn btn-primary float-right btn-sm' }

%table.table
  %thead
    = search_form_for @search,
                      url: backoffice_currencies_path do |f|
      %tr
        %th
          = f.label :code_cont, class: 'sr-only'
          = f.search_field :code_cont,
                           class: 'form-control',
                           placeholder: t(:search, subject: :description),
                           autocomplete: :off
        %th
          = f.label :name_cont, class: 'sr-only'
          = f.search_field :name_cont,
                           class: 'form-control',
                           placeholder: t(:search, subject: :name),
                           autocomplete: :off
        %th
          = f.submit class: 'btn btn-outline-dark btn-block'
  %tbody
    - @currencies.each do |currency|
      %tr{ id: "currency-#{currency.id}" }
        %td= link_to currency.code, edit_backoffice_currency_path(currency)
        %td= link_to currency.name, edit_backoffice_currency_path(currency)
        %td

= paginate @currencies
